@charset "UTF-8";

/* untitled-font-1 */
@font-face {
  font-family: "untitled-font-1";
  src:url("https://file.myfontastic.com/dSdPJGEFUgx3CBxPv3Buyi/fonts/1473534557.eot");
  src:url("https://file.myfontastic.com/dSdPJGEFUgx3CBxPv3Buyi/fonts/1473534557.eot?#iefix") format("embedded-opentype"),
    url("https://file.myfontastic.com/dSdPJGEFUgx3CBxPv3Buyi/fonts/1473534557.woff") format("woff"),
    url("https://file.myfontastic.com/dSdPJGEFUgx3CBxPv3Buyi/fonts/1473534557.ttf") format("truetype"),
    url("https://file.myfontastic.com/dSdPJGEFUgx3CBxPv3Buyi/fonts/1473534557.svg#1473534557") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bitbucket:before {
  content: "\61";
}
.icon-iphone:before {
  content: "\62";
}
.icon-linkedin:before {
  content: "\63";
}
.icon-smiley:before {
  content: "\64";
}
.icon-github:before {
  content: "\65";
}
.icon-twitter:before {
  content: "\66";
}
.icon-plane:before {
  content: "\67";
}
.icon-envelope:before {
  content: "\68";
}
.icon-home:before {
  content: "\69";
}
.icon-google-plus:before {
  content: "\6a";
}
.icon-quora:before {
  content: "\6b";
}
.icon-telephone:before {
  content: "\6c";
}
.icon-mobile:before {
  content: "\6d";
}
.icon-facebook:before {
  content: "\6e";
}
.icon-instagram:before {
  content: "\6f";
}
.icon-chevron-left:before {
  content: "\70";
}
.icon-chevron-right:before {
  content: "\71";
}
.icon-chevron-down:before {
  content: "\72";
}
.icon-chevron-up:before {
  content: "\73";
}
.icon-tag:before {
  content: "\74";
}
.icon-tags:before {
  content: "\75";
}
.icon-gitlab:before {
  content: "\76";
}
.icon-keybase:before {
  content: "\77";
}
.icon-flickr:before {
  content: "\78";
}
.icon-poddery:before {
  content: "\79";
}
.icon-user:before {
  content: "\7a";
}