@media only screen and (max-width: 799px) {
    .header {
        background-color: #111;
        width: 100%;
        height: auto;
/*        position: fixed;*/
    }

    .header .title {
        float: right;
        margin-right: 4%;
        text-align: center;
        line-height: 1.4;
        color: white;
        font-size: 1.4em;
    }

    .clearfix {
        clear: both;
    }

    .header ul {
        max-width: 100%;
        height: 100vh;
        background-color: rgba(17, 17, 17, 0.6);
    }

    .header ul li {
        font-size: 2em;
        text-align: center;
        color: #4285f4;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .header ul li:first-child {
        margin-top: 50%;
    }

    .front {
        color: #fff;
        background: #4285f4;
        height: 100vh;
        max-width: 100%;
    }

    .front .img {
        max-width: 20%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .front .img img {
        max-width: 100%;
        max-height: 100%;
    }

    .front .img svg {
        fill: black;
    }

    .front .wrapper {
        text-align: center;
        font-size: 1em;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.4;
    }

    .front .wrapper .head1 {
        font-size: 2.5em;
    }

    .front .wrapper .head2 {
        font-size: 1.4em;
    }

    .front .wrapper .head3 {
        font-size: 1.5em;
    }

    .front .brochure {
        font-size: 1.4em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15%;
        max-width: 90%;
        padding: 2%;
        border: 2px solid #bbb;
    }

    .front .social {
        margin-top: 20%;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        text-align: center;
    }

    .front .social li {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
    }

    .about {
        max-width: 100%;
    }

    .about .heading {
        margin-top: 8%;
        font-size: 1.9em;
        max-width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .about div .image {
        margin-top: 4%;
    }

    .about div .image img {
        max-width: 100%;
        max-height: 100%;
    }

    .about div .content1 {
        margin: auto;
        max-width: 90%;
        font-size: 1.1em;
    }

    .gallery {
        max-width: 100%;
    }

    .divider {
        max-width: 60%;
        margin-top: 15%;
        margin-bottom: 15%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #ededed;
    }

    .gallery .set .hover {
        margin: 10% auto;
        max-width: 90%;
    }

    .gallery .set .hover img {
        border-radius: 10px;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.35);
        max-width: 100%;
        max-height: 100%;
    }

    .gallery .heading {
        margin-top: 8%;
        font-size: 1.9em;
        max-width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .pre_speakers {
        max-width: 100%;
    }

    .pre_speakers .heading {
        margin-top: 8%;
        font-size: 1.9em;
        max-width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .pre_speakers .grid {
        margin-top: 10%;
        max-width: 100%;
    }

    .pre_speakers .grid .photo {
        margin-top: 7%;
        margin-bottom: 7%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .pre_speakers .grid .photo .photo_content {
        display: block;
        margin-top: 4%;
        font-size: 1.4em;
        text-align: center;
    }

    .pre_speakers .grid .photo a img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }

    .why {
        max-width: 100%;
    }

    .why .heading {
        margin-top: 8%;
        font-size: 1.9em;
        max-width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .why .wrap ul {
        line-height: 1.2;
        max-width: 90%;
        margin: auto;
        margin-top: 5%;
        text-align: center;
    }

    .why .wrap ul li {
        margin-top: 4%;
        margin-bottom: 4%;
    }

    .why .wrap ul li span {
        line-height: 3;
        font-weight: 600;
        font-size: 1.3em;
    }
    .pre_sponsors {
        max-width: 100%;
    }

    .pre_sponsors .heading {
        margin-top: 8%;
        font-size: 1.9em;
        max-width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .pre_sponsors .wrapper {
        margin-top: 10%;
        max-width: 100%;
    }

    .pre_sponsors .wrapper .content1 .wrap .someRandomWordThatDoesNotMeanAnything {
        margin-top: 7%;
        margin-bottom: 7%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .pre_sponsors .wrapper .content1 .wrap .someRandomWordThatDoesNotMeanAnything img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 200px;
        max-height: 200px;
    }

    .pre_sponsors .wrapper .email {
        max-width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        clear: both;
        font-size: 1.3em;
        margin-top: 4%;
        line-height: 1.3;
    }

    .pre_sponsors .wrapper .email a {
        color: #4285f4;
    }

    .contact {
        max-width: 100%;
    }

    .contact .heading {
        margin-top: 8%;
        font-size: 1.9em;
        max-width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .contact .wrap {
        margin-top: 8%;
        max-width: 100%;
    }

    .contact .wrap .email {
        font-size: 1.2em;
        text-align: center;
        padding: 3%;
    }

    .contact .wrap .email a {
        color: #4285f4;
    }

    .contact .wrap .organizer {
        margin-top: 8%;
        font-size: 1.5em;
        text-align: center;
    }

    .contact .wrap .organizer h3 {
        margin-bottom: 15%;
    }

    .contact .wrap .organizer img {
        display: block;
        margin: 5% auto;
        max-width: 100%;
        max-height: 100%;
        width: 150px;
        height: 150px;
    }

    .footer {
        max-width: 100%;
        background: #111;
        padding: 3%;
        text-align: center;
        font-size: 1.3em;
        color: #fff;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
    .logo {
        position: fixed;
        /*top: 0.7%;*/
        cursor: pointer;
        left: 2%;
        width: 2%;
        z-index: 101;
    }

    .logo img {
        width: 100%;
        height: 100%;
    }

    .header {
        font-family: Lato;
        z-index: 100;
        color: white;
        padding: 0.7%;
        position: fixed;
        width: 100%;
        height: auto;
        background-color: #111;
    }

    .header span {
        margin-left: 2%;
    }

    .header span:hover {
        cursor: pointer;
    }

    .header .menu {
        text-align: right;
        margin-right: 4%;
        height: 100%;
        width: 70%;
        float: right;
    }

    .menu li {
        display: inline-block;
    }

    .menu li:hover {
        cursor: pointer;
    }

    .empty {
        height: 32px;
    }

    .clearfix {
        clear: both;
    }

    @-webkit-keyframes fadeIn {
        from {
            opacity:0;
        } to {
            opacity:1;
        }
    }

    @keyframes fadeIn {
        from {
            opacity:0;
        } to {
            opacity:1;
        }
    }

    .fade-in {
        opacity:0;  /* make things invisible upon start */
        -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
        animation:fadeIn ease-in 1;

        -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
        animation-fill-mode:forwards;

        -webkit-animation-duration:1s;
        animation-duration:1s;
    }

    .fade-in.head1 {
        -webkit-animation-delay: 0.7s;
        animation-delay: 0.7s;
    }

    .fade-in.head2 {
        -webkit-animation-delay: 1.2s;
        animation-delay: 1.2s;
    }

    .fade-in.head3 {
        -webkit-animation-delay: 1.6s;
        animation-delay: 1.6s;
    }

    .fade-in.brochure {
        -webkit-animation-delay: 2.6s;
        animation-delay: 2.6s;
    }

    .fade-in.social {
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
    }

    .front {
        z-index: 2;
        overflow: hidden;
        width: 100%;
        height: 100vh;
        background-color: #4285f4;
        background-size: cover;
    }

    .front .img {
        float: left;
        margin-left: 5%;
        margin-top: 4%;
    }

    .front .img svg {
        fill: white;
    }

    .front .wrapper {
        text-align: right;
        margin-top: 4%;
        padding: 3%;
        width: 40%;
        float: right;
        height: auto;
        color: white;
    }

    .front .wrapper .head1 {
        margin-bottom: 3%;
        font-size: 4em;
    }

    .front .wrapper .head2 {
        margin-bottom: 3%;
        font-size: 2.3em;
    }

    .front .wrapper .head3 {
        margin-bottom: 3%;
        font-size: 1.8em;
    }

    sup {
        font-size: medium;
        vertical-align: super;
    }

    .front .wrapper .brochure {
        cursor: pointer;
        float: right;
        margin-top: 10%;
        display: table;
        width: auto;
        text-transform: uppercase;
        font-size: 1.4em;

        padding: 20px;
        border: 1px solid #ccc;
        box-shadow: inset 0 0 0 0 #fff;
        -webkit-transition: all ease 0.8s;
        transition: all ease 0.8s;
    }

    .front .wrapper .brochure:hover {
        color: #111;
        box-shadow: inset 0 100px 0 0 #fff;
    }

    .social ul {
        padding-left: 5%;
        margin-right: 6%;
        width: 50%;
        color: white;
        text-align: right;
        position: absolute;
        top: 90%;
        right: 0%;
        list-style-type: none;
        font-size: 1.4em;
    }

    .social ul li {
        margin-left: 3%;
        margin-right: 3%;
        display: inline-block;
    }

    .about {
        max-width: 100%;
    }

    .about .heading {
        margin-top: 8%;
        font-size: 2.9em;
        max-width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .about div .image {
        margin-top: 3%;
        width: 50%;
        height: auto;
        float: left;
    }

    .about div .image img {
        max-width: 100%;
        max-height: 100%;
    }

    .about div .content1 {
        float: left;
        max-width: 50%;
        margin: 15px;
        margin-top: 4%;
        font-size: 1.2em;
    }

    .about .content1 {
        padding: 10px;
        font-size: 1.2em;
        text-align: center;
        line-height: 1.1;
        width: 40%;
        float: left;
        margin-top: 14%;
    }

    .gallery {
        padding: 1%;
        height: auto;
        width: 100%;
    }

    .gallery .heading {
        margin-top: 8%;
        font-size: 2.9em;
        max-width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4%;
    }

   .gallery .set {
        margin: auto;
        margin-bottom: 5%;
        width: 100%;
    }

    .gallery .set .hover {
        width: 30%;
        margin: 1%;
        float: right;
    }

    .gallery .set .hover img {
        z-index: -2;
        border-radius: 4px;
        max-width: 100%;
        max-height: 100%;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
        -webkit-transition: box-shadow 0.3s ease-in-out;
        transition: box-shadow 0.3s ease-in-out;
        height: 144px;
        width: 215px;
    }

    .gallery .set .hover img:hover {
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.35);
    }

    .pre_speakers {
        height: auto;
        max-width: 100%;
    }

    .pre_speakers .heading {
        margin-top: 8%;
        font-size: 2.9em;
        max-width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4%;
    }

    .pre_speakers .grid {
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .pre_speakers .grid .photo {
        margin-bottom: 6%;
        width: 25%;
        float: left;
    }

    .pre_speakers .grid .photo img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        max-width: 130px;
        max-height: 130px;
    }

    .photo_content {
        margin-top: 4%;
        font-size: 1.4em;
        display: block;
        text-align: center;
    }

    .why {
        padding: 4%;
        height: 100%;
        width: 100%;
    }

    .why .heading {
        margin-top: 8%;
        font-size: 2.9em;
        max-width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4%;
    }

    .why .wrap {
        padding: 2%;
        width: 70%;
        margin: auto;
        margin-top: 5%;
    }

    .why .wrap ul {
        font-size: 1.3em;
    }

    .why .wrap ul li {
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .why .wrap ul li span {
        font-size: 1.4em;
        font-weight: 800;
        line-height: 1.7;
    }

    .divider {
        max-width: 60%;
        border-top: 1px solid #e6e6e6;
        margin: 4% auto 4% auto;
    }

    .pre_sponsors {
        width: 100%;
        height: 100%;
    }

    .pre_sponsors .heading {
        margin-top: 8%;
        font-size: 2.9em;
        max-width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4%;
    }

    .pre_sponsors .wrapper {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4%;
    }

    .pre_sponsors .wrapper .content1{
        padding-left: 10px;
        width: 100%;
    }

    .pre_sponsors .content1 .wrap .someRandomWordThatDoesNotMeanAnything {
        width: 25%;
        float: left;
    }

    .lj {
        margin-top: -10%;
        margin-left: 10%;
    }

    .thinkdigit {
        margin-top: 5%;
    }

    .pcquest {
        margin-top: -22%;
        margin-left: 4%;
    }

    .airtel {
        margin-top: -17%;
        margin-left: -55%;
    }

    .dtdc {
        margin-left: -50%;
        margin-top: -2%;
    }

    .nrcfoss {
        margin-left: 5%;
    }
    .vestige {
/*        margin-top: -43%;*/
        margin-left: 15%;
    }

    .itk {
        margin-top: -5%;
    }

    .itmission {
        margin-left: 4%;
        margin-top: -5%;
    }
    .csb {
        margin-bottom: 2%;
    }

    .pre_sponsors .content1 .wrap .someRandomWordThatDoesNotMeanAnything img {
        max-width: 100%;
        max-height: 100%;
    }

    .contact {
        padding: 4%;
        height: 100%;
        width: 100%;
    }

    .contact .heading {
        margin-top: 8%;
        font-size: 2.9em;
        max-width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4%;
    }

    .contact .wrap {
        padding: 0%;
        margin-top: 5%;
        width: 55%;
        margin-left: auto;
        margin-right: auto;
    }

    .contact .wrap .email {
        width: 100%;
        font-size: 1.4em;
        line-height: 1.5;
        text-align: center;
    }

    .contact .wrap .email a {
        color: #4285f4;
        border-bottom: 1px dashed;
    }

    .contact .wrap .email a:hover {
        border-bottom: none;
    }

    .contact .wrap .organizer {
        margin-top: 4%;
    }

    .contact .wrap .organizer h3 {
        text-align: center;
        font-size: 2em;
    }

    .contact .wrap .organizer img {
        margin-top: 5%;
        margin-left: 11%;
        display: inline;
        width: 10em;
        height: 10em;
    }
    .footer {
        font-size: 1em;
        padding: 1%;
        width: 100%;
        text-align: center;
        /*background-color: #fdfdfd;*/
        background-color: #111;
        color: #FFF;
        box-shadow: 0px 10px 56px -10px rgba(17,17,17,0.41);
    }
}
