@media only screen and (max-width: 799px) {
    html {
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    img, video, audio, iframe, object {
        max-width: 100%;
    }
    
    a {
        text-decoration: none;
        color: black;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: linear;
    }

    body{
        margin: 0;
        padding: 0;
        font-family: 'Open Sans',helvetica;
        color: #333;
        color: rgba(0,0,0,0.5);
        font-size: 100.5%;
        overflow-x: hidden;
    }

    .header {
        padding: 1%;
        padding-bottom: 4%;
        width: 100%;
        background-color: #f2f2f2;
        margin-bottom: -3%;
        display: block;
        z-index: 10000;
        position: fixed;
    }
    
    .section{
        margin: 0;
        font-size: 80%;
        max-width: 100%;
        padding-left: 2%;
        padding-right: 2%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align:center;
        margin-bottom: 9%;
    }
    
        #section0 {
        height: 100vh;
        background-color: #464646;
        background-image: url("../img/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
/*        background-attachment: fixed;*/
    }

    .menu-btn {
        max-width: 100%;
        margin-left: 3%;
        -webkit-user-select: none;
        user-select: none;
    }

    .menu-btn:after {
        content: " ";
        display: block;
        clear: both;
    }

    .menu-btn div {
        line-height: 1.2;
        font-size: 1.5em;
        z-index: 99;
    /*    margin: 1em 5em;*/
    }

    .menu-btn span {
        display: block;
        width: 2em;
        height: 0.2em;
        margin: 0.25em 0;
        background: #000;
        z-index: 99;
    }

    .responsive-menu {
        display: none;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    .responsive-menu ul {
        margin: 0;
        display: block;
        list-style-type: none;
        padding: 0;
        text-align: center;
    }

    .responsive-menu ul li {
        margin: 0;
        display: block;
        padding: 0 1.69492%;
        background: #f3f3f3;
        border-bottom: 2px solid #e4e4e4;
    }

    .expand {
        display: block !important;
    }

    .content {
        position: relative;
        color: white;
        font-size: 1.3em;
        max-width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .content .info {
        text-align: center;
        font-size: 1em;
    }

    .arrows {
        visibility: hidden;
    }

    .data {
        font-size: 1em;
        max-width: 100%;
    }
    
    .wrapper {
        max-width: 90%;
        padding: 1%;
        margin: auto;
    }
    
    .wrapper .info {
        visibility: hidden;
    }
    
    .wrapper .picture img {
        box-shadow: 8px 8px 10px #aaa;
        box-shadow: inset 0px 0px 40px 40px #DBA632;
        max-height: 100%;
        max-width: 100%;
    }

    .container {
        width: 100%;
        margin: auto;
    }

    .section-head {
        text-transform: uppercase;
        font-weight: bolder;
        position: relative;
        text-align: center;
        font-size: 2em;
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4%;
        margin-bottom: 4%;
    }

    .data1 {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .wrap {
        position: absolute;
        top: 20%;
    }

    .photo {
        width: 80%;
        display: inline-block;
        margin-bottom: 4%;
    }

    .hovereffect {
        width: 80%;
        height: 100%;
        text-align: center;
        cursor: default;
        margin: auto;
    }

    .hovereffect .overlay {
        width: 100%;
        height: 50%;
    }

    .hovereffect img {
        max-height: 100%;
        max-width: 100%;
    }

    .hovereffect h2 {
        color: #000;
        text-align: center;
    }

    .icon-links {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4%;
    }

    .icon-links a span {
        margin-left: 1em;
        margin-right: 1em;
        color: #000;
        font-size: 1.4em;
    }

    .divider {
        height: 2px;
        background-color: black;
        width: 50%;
        margin: 14% auto;
    }
    
    textarea#message {
        margin-top: 2em;
        max-width: 100%;
        max-height: 30%;
        color: #666;
        overflow-y: hidden;
        resize: none;
        font-weight: 500;
        border: 1px solid blue;
        text-indent: 10px;
    }
    #fromemail,
    #fromname {
        max-height: 15%;
        max-width: 100%;
        margin-top: 10%;
        color: #666;
        overflow-y: hidden;
        -webkit-appearance: none;
        font-weight: 500;
        border: 1px solid blue;
        text-indent: 10px;
    }
    textarea:focus::-webkit-input-placeholder {
        color: transparent;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
    }
    input:focus::-webkit-input-placeholder {
        color: transparent;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
    }
    .button {
        background-color: transparent;
        padding: 10px;
        border: 1px solid #d0d0d0;
        font-size: 1.1em;
        margin-top: 8%;
        padding: 5px 25px 5px 20px;
    }
    .button:hover {
        cursor: pointer;
    }
    #post {
        margin-left: 0;
        font-size: 1.9em;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: linear;
    }
    #post:hover {
        color: #ff1a29;
    }

    .inner {
        margin-top: 15%;
        line-height: 1.9;
    }
    .inner p {
        padding-left: 34px;
        margin-bottom: 1.5em;
        font-size: 1em;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: linear;
    }

    .inner p:hover {
        color: #ff1a29;
    }

    .icon {
        margin-left: -20px;
    }

    #wrapper {
        max-width: 100%;
        max-height: 50%;
        margin: 0 auto;
        padding: 20px;
    }

    #col2 {
        max-width: 100%;
        margin: auto;
    }

    li:hover {
        cursor: pointer;
    }

    .contact {
        max-width: 100%;
        margin-top: -40px;
        margin-left: auto;
        margin-right: auto;
    }

    .buttons {
        display: block;
        margin-left: 70%;
        margin-top: -70px;
    }
    .links {
        list-style: none;
        max-width: 100%;
        padding: 0;
        padding-left: -2px;
    }

    .links li {
        font-size: 2em;
        display: inline-block;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 5%;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
    }

    .links li:hover {
        color: #ff1a29;
    }
    
    .repre-contact {
        max-width: 100%;
        margin: auto;
    }

    .contact1 {
        margin-top: 6%;
        max-width: 100%;
    }
}
