/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: Lato;
}

a {
    color: inherit;
    text-decoration: none;
}

.logo {
    position: fixed;
    top: 0.3%;
    cursor: pointer;
    left: 2%;
    width: 2%;
    z-index: 5;
}

.logo img {
    width: 100%;
    height: 100%:
}

.header {
    font-family: Lato;
    font-weight: 300;
    color: white;
    padding: 0.5%;
    position: fixed;
    top: 0%;
    width: 100%;
    height: auto;
    background-color: #111;
}

.header span {
    margin-left: 5%;
}

.header span:hover {
    cursor: pointer;
    font-weight: 400;
}

.header .menu {
    margin-right: 4%;
    height: 100%:
    width: 80%;
    float: right;
}

.menu ul li {
    display: inline-block;
}

.front {
    width: 100%;
    height: 80%;
    background-color: rgb(34, 51, 17);
    background-size: contain;
}