@media only screen and (min-width: 800px) {
    *,
    ::after,
    ::before {
        box-sizing: inherit;
    }
    
    a {
        text-decoration: none;
        color: black;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: linear;
    }
    
    a:hover{
        color: #9CCB19;
    }
    body {
        font-size: 60%;
        font-family: Lora, helvetica;
        color: #333;
        background: #F8F4FF;
        color: rgba(0, 0, 0, 0.5);
    }
    .section {
        text-align: center;
    }
    #menu li {
        display: inline-block;
        margin: 2px 10px;
        color: #000;
    }
    #menu li.active {
        color: #000;
    }
    #menu li a {
        text-decoration: none;
        color: #000;
    }
    #menu li.active a:hover {
        color: #949185;
    }
    
    #menu li a,
    #menu li.active a {
        padding: 9px 18px;
        display: block;
    }
    #menu li.active a {
        color: #949185;
    }
    #menu {
        padding: 0;
        font-family: Raleway;
        text-transform: uppercase;
        margin-top: 0;
        position: fixed;
        z-index: 100;
        font-weight: bold;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        list-style-type: none;
        text-align: center;
        background-color: #f3f1e7;
    }
    .content {
        color: white;
        display: block;
        z-index: 10;
        font-size: 40px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-bottom: 10%;
    }
    .content .info {
        font-size: 0.6em;
    }
    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @-moz-keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @-webkit-keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @-ms-keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @-o-keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .arrows {
        width: 60px;
        height: 72px;
        position: absolute;
        left: 50%;
        margin-left: -30px;
        bottom: 20px;
    }
    .arrows path {
        stroke: #000;
        fill: transparent;
        stroke-width: 1px;
        animation: arrow 2s infinite;
        -webkit-animation: arrow 2s infinite;
    }
    @keyframes arrow {
        0% {
            opacity: 0
        }
        40% {
            opacity: 1
        }
        80% {
            opacity: 0
        }
        100% {
            opacity: 0
        }
    }
    @-webkit-keyframes arrow {
        0% {
            opacity: 0
        }
        40% {
            opacity: 1
        }
        80% {
            opacity: 0
        }
        100% {
            opacity: 0
        }
    }
    .arrows path.a1 {
        animation-delay: -1s;
        -webkit-animation-delay: -1s;
    }
    .arrows path.a2 {
        animation-delay: -0.5s;
        -webkit-animation-delay: -0.5s;
    }
    .arrows path.a3 {
        animation-delay: 0s;
        -webkit-animation-delay: 0s;
    }
    .data {
        text-align: left;
        padding: 2%;
        margin-left: 3%;
        margin-top: 14%;
        line-height: 1.4;
        font-size: 2em;
        float: left;
        width: 55%;
    }
    .container {
        margin-top: 1%;
        width: 100%;
        margin: auto;
        height: 100%;
    }
    .section-head {
        display: none;
        display: table-cell;
        vertical-align: middle;
        height: 7em;
        line-height: 7em;
        text-transform: uppercase;
        margin-top: 9%;
        font-size: 5em;
        float: left;
        width: 40%;
        border-right: 2px solid red;
    }
    .section-head-line {
        position: absolute;
        height: 2px;
        bottom: 44px;
        left: 0;
        right: 0;
        width: 1%;
        z-index: 1;
        margin: 0 auto;
        background-color: #313131;
    }
    .img {
        width: 30%;
        float: left;
        padding: 50px;
    }
    .img>img {
        width: 320px;
        height: 320px;
    }
    .data1 {
        margin-top: 5%;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.4em;
        text-align: center;
    }
    .grid {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }
    .photo {
        background-color: #fdfdfd;
        border: 1px solid #c0c0c0;
        border-radius: 5px;
        width: 19%;
        height: 19%; 
        padding: 0.6%;
        margin: 5px;
        float: left;
        display: inline;
    }
    .photo:after {
        content: "";
        display: table;
        clear: both;
    }
    .hovereffect {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;
    }
    .hovereffect img {
        padding: 2px;
        border: 2px solid #c0c0c0;
        height: 100%;
        width: 100%;
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
    }
    .hovereffect h2 {
        margin-top:5px;
        font-size: 2em;
        color: #000;
        position: relative;
    }
    .hovereffect p.icon-links a {
        font-size: 1.7em;
        padding: 0;
        margin-top: -3px;
        margin-left: 10px;
        margin-right: 10px;
        color: #3c4a50;
    }
    .header {
        text-align: left;
        font-size: 1.5em;
        font-weight: bold;
        text-shadow: 1px 1px 0px rgba(150, 150, 150, 1);
    }
    .details>.meta {
        text-align: left;
        font-size: 0.9em;
    }
    #map {
        width: 80%;
        margin: auto;
        height: 400px;
    }
    .fp-auto-height {
        width: 100%;
        padding: 3% 0;
        margin-top: 10%;
        ;
        z-index: 1000;
        height: 20%;
        background-color: #3f7fcf;
    }
    textarea#message {
        margin-top: 2em;
        width: 100%;
        background: url('../img/graphics/dots.png') repeat top;
        max-height: 30%;
        line-height: 21px;
        color: #666;
        overflow-y: hidden;
        resize: none;
        font-style: italic;
        font-weight: 500;
        outline: none;
        border: 0;
        padding: 0;
        font-family: 'Josefin Sans';
    }
    #fromemail,
    #fromname {
        height: 22px;
        width: 100%;
        background: url('../img/graphics/dots.png') repeat top;
        min-height: 100%;
        line-height: 21px;
        color: #666;
        overflow-y: hidden;
        -webkit-appearance: none;
        font-style: italic;
        font-family: 'Josefin Sans';
        font-weight: 500;
        outline: none;
        border: 0;
        padding: 0;
    }
    textarea:focus::-webkit-input-placeholder {
        color: transparent;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
    }
    input:focus::-webkit-input-placeholder {
        color: transparent;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
    }
    .button {
        background-color: transparent;
        padding: 10px;
        border: 1px solid #d0d0d0;
        font-size: 1.1em;
        margin-top: 8%;
        padding: 5px 25px 5px 20px;
    }
    .button:hover {
        cursor: pointer;
    }
    #post {
        margin-left: 0;
        font-size: 1.9em;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: linear;
    }
    #post:hover {
        color: #9CCB19;
    }
    
    .inner {
        padding: 0 0 0 80px;
    }

    .inner h3 {
        margin-top: 50px;
        font-size: 1.4em;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 1.5em;
        margin-bottom: 1.5em;
    }

    .inner p {
        margin-bottom: 1.5em;
        line-height: 1.5em;
        font-size: 1em;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: linear;
    }

    .inner p:hover {
        color: #9CCB19;
    }

    .icon {
        margin-left: -20px;
    }

    #wrapper {
        float: none;
        width: 60%;
        height: 50%;
        margin: 0 auto;
        padding: 20px;
    }

    #col2 #mailwrap {
        border-right: 1px solid #ccc;
        padding: 0 20px;
        z-index: 99;
    }

    #col2 {
        width: 50%;
        float: left;
    }
    
    table {
        vertical-align: middle;
        white-space: normal;
        line-height: normal;
        font-weight: 400;
        font-size: medium;
        font-variant: normal;
        font-style: normal;
        border-collapse: collapse;
        margin-top: -30px;
    }

    li:hover {
        cursor: pointer;
    }
    
    #contacttitle {
        text-transform: uppercase;
        text-align: center;
        font-size: 3em;
        font-weight: bold;
    }

    .contact {
        height: 80%;
        width: 80%;
        margin-top: -40px;
        margin-left: auto;
        margin-right: auto;
    }

    .buttons {
        display: block;
        margin-left: 70%;
        margin-top: -70px;
    }
    .links {
        list-style: none;
        width: 100%;
        padding: 0;
        padding-left: -2px;
    }

    .links li {
        font-size: 1.1em;
        display: inline-block;
        margin-right: 5px;
        margin-left: 5px;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
    }

    .links li:hover {
        color: #9CCB19;
    }
    
    .navbar {
        margin-bottom: -9px;
        width: 100%;
    }
    .slidereImg {
        height: 35em;
    }
    .container {
        padding-left: 0px;
    }
    .credits a {
        text-decoration: none;
        padding-right: 1em;
        color: #fff;
    }
    .fa > .label {
        display: none;
    }

    .main-head {
        color: #9CCB19;
        letter-spacing: 3px;
        font-family: 'Montserrat';
        font-size: 1em;
/*        color: green;*/
        -webkit-animation: fadein 2s;
        -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
        -o-animation: fadein 2s;
        animation: fadein 2s;
    }
    .info {
        -webkit-animation: fadein 4s;
        -moz-animation: fadein 4s;
        -ms-animation: fadein 4s;
        -o-animation: fadein 4s;
        animation: fadein 4s;
    }
    .picture {
        margin: auto;
        font-size: 0;
        text-align: center;
        width: 700px;
        height: 400px;
    }
    .picture img {
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
        max-height: 100%;
        box-shadow: 8px 8px 10px #aaa;
    }
    .info {
        padding-top: 4%;
        height: 40px;
        font-size: 2em;
    }
    .sponsor-pic {
        width: 80%;
        background-image: url(../img/prev_spon.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
        height: 80%;
        margin-top: 4%;
    }

.repre-contact {
    width: 100%;
    margin: auto;
}

.contact1 {
    float: left;
    width: 45%;
    margin-left: 2%;
    margin-right: 2%;
    line-height: 2;
    text-align: left;
}

.clearfix {
    clear: both;
}

hovereffect img {
    height: 253px;
    width: 253px;
}

.logo {
    margin: auto;
    margin-top: 2%;
}

svg {
    fill: #9CCB19;
}

.info {
    font-family: 'Montserrat';
    color: #9CCB19;
    width: 100%;
}

.bg {
    z-index: -2;
    height: 100vh;
    background-color: #464646;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*        background-attachment: fixed;*/
}

#section0 {
    position: relative;
}

#section0 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-position: fixed;
    background-size: cover;
    z-index: -1;
    background: rgba(0, 0, 0, 0.6);
}
