/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #f8f9ff;
    font-family: 'Myriad';
    overflow: auto;
    height: 100%;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

@media only screen and (min-width: 1001px) {
    .logo {
        position: fixed;
        /*top: 0.7%;*/
        cursor: pointer;
        left: 2%;
        width: 2%;
        z-index: 101;
    }

    .logo img {
        width: 100%;
        height: 100%;
    }

    .header {
        font-family: Lato;
        z-index: 100;
        color: white;
        padding: 0.7%;
        position: fixed;
        width: 100%;
        height: auto;
        background-color: #111;
    }

    .header span {
        margin-left: 5%;
    }

    .header span:hover {
        cursor: pointer;
    }

    .header .menu {
        text-align: right;
        margin-right: 4%;
        height: 100%;
        width: 80%;
        float: right;
    }

    .menu li {
        display: inline-block;
    }

    .menu li:hover {
        cursor: pointer;
    }

    .empty {
        height: 32px;
    }

    .clearfix {
        clear: both;
    }

    @-webkit-keyframes fadeIn {
        from {
            opacity:0;
        } to {
            opacity:1;
        }
    }

    @keyframes fadeIn {
        from {
            opacity:0;
        } to {
            opacity:1;
        }
    }

    .fade-in {
        opacity:0;  /* make things invisible upon start */
        -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
        animation:fadeIn ease-in 1;

        -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
        animation-fill-mode:forwards;

        -webkit-animation-duration:1s;
        animation-duration:1s;
    }

    .fade-in.head1 {
        -webkit-animation-delay: 0.7s;
        animation-delay: 0.7s;
    }

    .fade-in.head2 {
        -webkit-animation-delay: 1.2s;
        animation-delay: 1.2s;
    }

    .fade-in.head3 {
        -webkit-animation-delay: 1.6s;
        animation-delay: 1.6s;
    }

    .fade-in.brochure {
        -webkit-animation-delay: 2.6s;
        animation-delay: 2.6s;
    }

    .fade-in.social {
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
    }

    .front {
        z-index: 2;
        overflow: hidden;
        width: 100%;
        height: 100vh;
        background-color: #4285f4;
        background-size: cover;
    }

    .front .img {
        float: left;
        margin-left: 6%;
        margin-top: 4%;
    }

    .front .img svg {
        fill: white;
    }

    .front .wrapper {
        text-align: right;
        padding: 7%;
        max-width: 50%;
        float: right;
        height: auto;
        color: white;
    }

    .front .wrapper .head1 {
        margin-bottom: 3%;
        font-size: 4em;
    }

    .front .wrapper .head2 {
        margin-bottom: 3%;
        font-size: 2.3em;
    }

    .front .wrapper .head3 {
        margin-bottom: 3%;
        font-size: 1.8em;
    }

    sup {
        font-size: medium;
        vertical-align: super;
    }

    .front .wrapper .brochure {
        cursor: pointer;
        float: right;
        margin-top: 10%;
        display: table;
        width: auto;
        text-transform: uppercase;
        font-size: 1.4em;

        padding: 20px;
        border: 1px solid #ccc;
        box-shadow: inset 0 0 0 0 #fff;
        -webkit-transition: all ease 0.8s;
        transition: all ease 0.8s;
    }

    .front .wrapper .brochure:hover {
        color: #111;
        box-shadow: inset 0 100px 0 0 #fff;
    }

    .social ul {
        padding-left: 5%;
        margin-right: 6%;
        width: 50%;
        color: white;
        text-align: right;
        position: absolute;
        top: 90%;
        right: 0%;
        list-style-type: none;
        font-size: 1.4em;
    }

    .social ul li {
        margin-left: 3%;
        margin-right: 3%;
        display: inline-block;
    }

    .about {
/*        padding: 2%;*/
        padding-left: 0;
        height: 90%;
        width: 100%;
        overflow: hidden;
    }

    .about .heading {
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 5%;
        float: left;
        width: 20%;
        height: 500px;
        background-image: url("../img/about-us.png");
        background-size: contain;
        background-repeat: no-repeat;
        text-indent: -110000px;
    }

    .about .image {
        margin-top: 10%;
        margin-left: -15%;
        width: 40%;
        height: auto;
        float: left;
        background-size: contain;
    }

    .about .image img {
        max-width: 100%;
        max-height: 100%;
    }

    .about .content1 {
        padding: 10px;
        font-size: 1.2em;
        text-align: center;
        line-height: 1.1;
        width: 40%;
        float: left;
        margin-top: 14%;
    }

    .gallery {
        padding: 1%;
        height: auto;
        width: 100%;
    }

    .gallery .heading {
        margin-left: 2%;
        margin-right: -1%;
        margin-top: -0.5%;
        float: left;
        width: 20%;
        height: 500px;
        background-image: url("../img/gallery.png");
        background-size: contain;
        background-repeat: no-repeat;
        text-indent: -110000px;
    }

    .gallery .set {
        margin-left: -7%;
        margin-bottom: 5%;
        width: 40%;
        float: left;
        border-left: 5px solid #666666;
    /*    padding-left: 15%;*/
        overflow: auto;
        max-height: 500px;
    }

    .gallery .set .hover {
        margin: 2%;
        width: 42%;
        float: right;
    }

    .gallery .set .hover img {
        z-index: -2;
        border-radius: 4px;
        max-width: 100%;
        max-height: 100%;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
        -webkit-transition: box-shadow 0.3s ease-in-out;
        transition: box-shadow 0.3s ease-in-out;
        height: 144px;
        width: 215px;
    }

    .gallery .set .hover img:hover {
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.35);
    }

    .gallery .preview {
        margin-top: 6.5%;
        width: 40%;
        float: left;
        margin-left: 5%;
        border-right: 5px solid #666;
        padding-right: 5%;
    }

    .gallery .preview img {
        margin: auto;
        box-shadow: 0 1px 8px #ccc;
        border-radius: 10px;
        max-width: 100%;
        max-height: 100%;
    }

    .pre_speakers {
        padding: 4%;
        height: 100%;
        width: 100%;
    }

    .pre_speakers .heading {
        text-indent: -110000px;
        margin-left: -2%;
        margin-right: 0%;
        margin-top: 1%;
        float: left;
        width: 20%;
        height: 500px;
        background-image: url("../img/speakers.png");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .pre_speakers .grid {
        border: 5px solid #efefef;
        float: left;
        padding: 1%;
        max-width: 80%;
        margin-left: 1%;
        margin-top: -2%;
    }

    .pre_speakers .grid .photo {
/*        margin-top: 2%;*/
        margin-bottom: 1%;
/*        padding-bottom: 2%;*/
        width: 20%;
        height: auto;
        float: left;
    }

    .pre_speakers .grid .photo img {
        -o-object-fit: contain;
           object-fit: contain;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        width: 130px;
        height: 130px;
    }

    .photo_content {
        margin-top: 4%;
        font-size: 1.4em;
        display: block;
        text-align: center;
    }

    .filler {
        width: 100%;
        height: 500px;
        background-color: grey;
    }

    .img1 {
        background-image: url(../img/events/fxos.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

    .img3 {
        background-image: url(../img/events/NITCHackathon.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

    .why {
        padding: 4%;
        height: 100%;
        width: 100%;
    }

    .why .heading {
        text-indent: -110000px;
        margin-left: 0%;
        margin-right: 2%;
        margin-top: 3%;
        float: left;
        width: 20%;
        height: 500px;
        background-image: url("../img/why-us.png");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .why .wrap {
        padding: 2%;
        width: 70%;
        float: left;
        border: 5px solid #efefef;
        margin-left: 1%;
        margin-top: 10%;
    }

    .why .wrap ul {
        font-size: 1.3em;
    }

    .why .wrap ul li {
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .why .wrap ul li span {
        font-size: 1.4em;
        font-weight: 800;
    }

    .divider {
        width: 60%;
        border-top: 1px solid #e6e6e6;
        margin: 4% auto 4% auto;
    }

    .pre_sponsors {
        width: 100%;
        height: 100%;
    }

    .pre_sponsors .heading {
        text-indent: -110000px;
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 5%;
        float: left;
        width: 20%;
        height: 500px;
        background-image: url("../img/sponsors.png");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .pre_sponsors .wrapper {
        float: left;
        width: 80%;
        margin-left: -10%;
        margin-top: 6%;
    }

    .pre_sponsors .wrapper .content1{
        margin-left: 5%;
        width: 100%;
    }

    .pre_sponsors .content1 .wrap .someRandomWordThatDoesNotMeanAnything {
        width: 25%;
        float: left;
    }

    .pre_sponsors .wrapper .email {
        clear: both;
        font-size: 1.3em;
        margin-top: 4%;
    }

    .lj {
        margin-top: -10%;
    }

    .thinkdigit {
        margin-top: 5%;
    }

    .pcquest {
        margin-top: -7%;
        margin-left: 4%;
    }

    .airtel {
        margin-top: -17%;
        margin-left: 25%;
    }

    .dtdc {
        margin-left: 28%;
        margin-top: -2%;
    }

    .vestige {
        margin-top: -23%;
    }

    .itk {
        margin-top: -5%;
    }
    .pre_sponsors .content1 .wrap .someRandomWordThatDoesNotMeanAnything img {
        max-width: 100%;
        max-height: 100%;
    }

    .csb {
        margin-bottom: 2%;
    }

    .img2 {
        background-image: url(../img/events/lectures.JPG);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

    .contact {
        padding: 4%;
        height: 100%;
        width: 100%;
    }

    .contact .heading {
        text-indent: -110000px;
        margin-left: 0%;
        margin-right: 2%;
        margin-top: 1%;
        float: left;
        width: 20%;
        height: 500px;
        background-image: url("../img/reach-us.png");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .contact .wrap {
        padding: 0%;
        margin-top: 5%;
        width: 75%;
        float: left;
    }

    .contact .wrap .email {
        width: 100%;
        font-size: 1.4em;
        line-height: 1.5;
        text-align: center;
    }

    /*.contact .wrap */.email a {
        color: #4285f4;
        border-bottom: 1px dashed;
    }

    .contact .wrap .email a:hover {
        border-bottom: none;
    }

    .contact .wrap .organizer {
        margin-top: 4%;
    }

    .contact .wrap .organizer h3 {
        text-align: center;
        font-size: 2em;
    }

    .contact .wrap .organizer img {
        margin-top: 5%;
        margin-left: 11%;
        display: inline-block;
        width: 15em;
        height: 15em;
    }

    .img4 {
        background-image: url(../img/events/team.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        height: 100%;
    }

    .footer {
        font-size: 1em;
        padding: 1%;
        width: 100%;
        text-align: center;
        /*background-color: #fdfdfd;*/
        background-color: #111;
        color: #FFF;
        box-shadow: 0px 10px 56px -10px rgba(17,17,17,0.41);
    }
}
