*, ::after, ::before {
    box-sizing: inherit;
}

body{
	font-family: Lora,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}

.section{
	text-align:center;
}

#menu li {
	display:inline-block;
	margin: 2px 10px;
	color: #000;
}

#menu li.active{
	color: #000;
}

#menu li a{
	text-decoration:none;
	color: #000;
}

#menu li.active a:hover{
	color: #949185;
}

#menu li a:hover{
/*	background: rgba(255,255,255, 0.8);*/
/*    color: #949185;*/
}

#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}

#menu li.active a{
	color: #949185;
}

#menu{
    font-family: Raleway;
    text-transform: uppercase;
    margin-top: 0;
	position: fixed;
    z-index: 100;
    font-weight: bold;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
    list-style-type: none;
    text-align: center;
    background-color: #f3f1e7;
}

.content {
    font-size: 40px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
/*    margin-top: 10%;*/
    padding-bottom: 10%;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
}

.content .info {
    font-size: 0.6em;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
}

.arrows path {
    stroke: #000;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes  arrow
{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

.arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

.data {
    margin-top: 4%;
    font-size: 20px;
    padding: 30px;
    float: left;
    width: 40%;
}

.container {
    width: 100%;
    height: 60%;
}

.section-head {
    position: relative;
    text-align: center;
    font-size: 4em;
    max-width: 20%;
    margin-left: auto;
    margin-right: auto;
}

/*
.section-head:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
*/

.section-head-line {
    position: absolute;
    height: 2px;
    bottom: 44px;
    left: 0;
    right: 0;
    width: 1%;
    z-index: 1;
    margin: 0 auto;
    background-color: #313131;
}

/*
.section-head:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
*/

.img {
    width: 30%;
    float: left;
    padding: 50px;
}

.img > img {
    width: 320px;
    height: 320px;
}

.data1 {
    margin-top: 5%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4em;
    text-align: center;
}

[class*='col-'] {
    float: left;
    width: 20%;
}

.grid {
    border: 1px solid red;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.photo {
    width: 22%;
    padding: 1%;
    display: inline;
    float: left;
}

.photo:after {
  content: "";
  display: table;
  clear: both;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
	top: auto;
	bottom: 0;
	padding: 0.2em;
	height: 4.75em;
	background: #79FAC4;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.hovereffect img {
    max-height: 100%;
    max-width: 100%;
    display: block;
    position: relative;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.hovereffect:hover img {
    -webkit-transform: translate3d(0,-10%,0);
	transform: translate3d(0,-10%,0);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #000;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding-top: 23px;
    padding-left: 5px;
/*    background: rgba(0, 0, 0, 0.6);*/
	float: left;
	margin: 0px;
	display: inline-block;
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
/*	color: #fff;*/
	border: 1px solid #fff;
	margin: 50px 0 0 0;
	background-color: transparent;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.4em;
}

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
	color: #252d31;
}

.hovereffect h2,
.hovereffect p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

.hovereffect p.icon-links a span:before {
	display: inline-block;
	padding: 8px 10px;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.hovereffect:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

/* IMAGE GRID */
.cards {
    list-style-type: none;
/*    height: auto;*/
    display: flex;
    flex-wrap: wrap;
    margin: -0.875em -0.5em;
    margin: auto;
}

.card {
    font-size: 1em;
    width: calc(25% - 1.5em);
    margin-left: 0.75em;
    margin-right: 0.75em;
/*    box-shadow: rgb(212, 212, 213) 0px 1px 3px 0px, rgb(212, 212, 213) 0px 0px 0px 1px;*/
    background: rgb(255, 255, 255);
    padding: 0px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-radius: 0.285714rem;
    transition: box-shadow 0.1s ease, transform 0.1s ease, -webkit-transform 0.1s ease;
    border: 1px solid #d5d5d5;
}

.card a {
    text-decoration: none;
    color: black;
}
    
.image > img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
}

.details {
    box-shadow: none;
    font-size: 1em;
    border-style: solid none none;
    border-top: 1px solid rgba(34, 36, 38, 0.0980392);
    background: 0px 0px;
    margin: 0px;
    padding: 0.8em;
    border-radius: 0px;
    text-align: left;
}

.header {
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(150, 150, 150, 1);
}

.details > .meta {
    text-align: left;
    font-size: 0.9em;
}
#map {
    width: 80%;
    margin: auto;
    height: 400px;
}



.fp-auto-height {
    background-color: #fdfdd5;
    height: 30%;
    width: 100%;
}

.footer {
    color: red;
    font-size: 2em;
}
