html {
    height: 100%;
}

body {
    background: #fdfdfd;
    font-family: 'Lato';
/*    color: white;*/
    height: 100%;
}

#logo {
    width: 3%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#logo img {
    width: 100%;
}

.navlist {
    font-weight: bold;
/*    position: fixed;*/
/*    margin-top: -0.2%;*/
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
/*    border: 1px solid white;*/
/*    color: white;*/
    list-style-type: none;
    text-align: center;
}

.navlist a {
    color: black;
    text-decoration: none;
}

.navlist li {
    display: inline;
    padding: 1%;
}
.content {
    font-size: 40px;
/*    border: 1px solid red;*/
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10%;
    padding-bottom: 10%;
}

.content .info {
    font-size: 0.6em;
}

.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
}

.arrows path {
    stroke: #000;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes  arrow
{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

.arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

section {
    height: 100%;
/*    padding-top: 5%;*/
}

.about {
    height: 100%;    
}

.intro {
    height: 100%;
}

.img {
    width: 30%;
    float: left;
    padding: 50px;
}

.img > img {
    width: 320px;
    height: 320px;
}

.data {
    font-size: 20px;
    padding: 110px 10px 80px 10px;
    float: left;
    width: 60%;
}

.container {
    color: white;
    width: 100%;
    height: 60%;
}

.section-head {
    position: relative;
    text-align: center;
    font-size: 4em;
    max-width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.section-head:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.section-head:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.data1 {
    margin-top: 5%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4em;
    text-align: center;
}

[class*='col-'] {
    float: left;
    width: 20%;
}

.grid {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.photo {
    width: 22%;
    padding: 1%;
    display: inline;
    float: left;
}

.photo:after {
  content: "";
  display: table;
  clear: both;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
	top: auto;
	bottom: 0;
	padding: 0.2em;
	height: 4.75em;
	background: #79FAC4;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.hovereffect img {
    max-height: 100%;
    max-width: 100%;
    display: block;
    position: relative;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.hovereffect:hover img {
    -webkit-transform: translate3d(0,-10%,0);
	transform: translate3d(0,-10%,0);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #000;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding-top: 23px;
    padding-left: 5px;
/*    background: rgba(0, 0, 0, 0.6);*/
	float: left;
	margin: 0px;
	display: inline-block;
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	margin: 50px 0 0 0;
	background-color: transparent;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.4em;
}

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
	color: #252d31;
}

.hovereffect h2,
.hovereffect p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

.hovereffect p.icon-links a span:before {
	display: inline-block;
	padding: 8px 10px;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.hovereffect:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}