/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*, *:before, *:after {
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #f8f9ff;
    font-family: 'Myriad';
    overflow: auto;
    height: 100%;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

.logo {
    position: fixed;
    top: 0.7%;
    cursor: pointer;
    left: 2%;
    width: 2%;
    z-index: 5;
}

.logo img {
    width: 100%;
    height: 100%:
}

.header {
    font-family: Lato;
    z-index: 100000;
    color: white;
    padding: 0.7%;
    position: fixed;
/*    top: 0%;*/
    width: 100%;
    height: auto;
    background-color: #111;
}

.header span {
    margin-left: 5%;
}

.header span:hover {
    cursor: pointer;
    
}

.header .menu {
    margin-right: 4%;
    height: 100%:
    width: 80%;
    float: right;
}

.menu ul li {
    display: inline-block;
}

.empty {
    height: 32px;
}

.clearfix {
    clear: both;
}

.front {
    z-index: 2;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: rgb(34, 51, 17);
    background-size: cover;
}

.front .img {
    float: left;
    margin-left: 10%;
    margin-top: 4%;
/*    margin-bottom: 10%;*/
}

.front .img svg {
    fill: white;
}

.front .wrapper {
    text-align: right;
    padding: 7%;
    width: 50%;
    float: right;
    height: auto;
    color: white;
}

.front .wrapper .head1 {
    margin-bottom: 3%;
    font-size: 4em;
/*    */
}

.front .wrapper .head2 {
    margin-bottom: 3%;
    font-size: 2.3em;
/*    */
}

.front .wrapper .head3 {
    margin-bottom: 3%;
    font-size: 1.8em;
/*    */
}

.front .wrapper .brochure {
    cursor: pointer;
    float: right;
    margin-top: 10%;
    display: table;
    width: auto;
    text-transform: uppercase;
    font-size: 1.4em;
    
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 0 0 #fff;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}

.front .wrapper .brochure:hover {
    color: #111;
    box-shadow: inset 0 100px 0 0 #fff;
}

.about {
    padding: 2%;
    padding-left: 0;
    height: 90%;
    width: 100%;
    overflow: hidden;
}

.about .heading {
    border-bottom: 5px solid #666666;
    margin-left: -11%;
    margin-top: 18%;
    padding-bottom: 20px;
    float: left;
    transform: rotate(-90deg);
    font-weight: 800;
    text-align: center;
    font-size: 7em;
    width: 40%;
    color: #666666;
}

.about .image {
    margin-top: 10%;
    margin-left: -15%;
    width: 40%;
    height: auto;
    float: left;
    background-size: contain;
}

.about .image img {
    max-width: 100%;
    max-height: 100%;
}

.about .content {
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.1;
    width: 40%;
    float: left;
    margin-top: 14%;
}

.gallery {
    padding: 1%;
    height: auto;
    width: 100%;
}

.gallery .heading {
    margin-left: -7%;
    margin-top: 15%;
    float: left;
    transform: rotate(-90deg);
    font-weight: 800;
    text-align: center;
    font-size: 7em;
    width: 30%;
    color: #666666;
}

.gallery .set {
    margin-left: -10%;
    margin-bottom: 5%;
    width: 40%;
    float: left;
    border-left: 5px solid #666666;
/*    padding-left: 15%;*/
    overflow: auto;
    max-height: 500px;
}

.gallery .set .hover {
    margin: 2%;
    width: 42%;
    float: right;
}

.gallery .set .hover img {
    z-index: -2;
    border-radius: 4px;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out:
}

.gallery .set .hover img:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.35);
}

.gallery .preview {
    margin-top: 6.5%;
    width: 40%;
    float: left;
    margin-left: 5%;
    border-right: 5px solid #666;
    padding-right: 5%;
}

.gallery .preview img {
    margin: auto;
    box-shadow: 0 1px 8px #ccc;
    border-radius: 10px;
    max-height: 100%;
    max-width: 100%;
}

.pre_speakers {
    padding: 4%;
    height: auto;
    width: 100%;
}

.pre_speakers .heading {
    margin-left: -7%;
    margin-top: 15%;
    float: left;
    transform: rotate(-90deg);
    font-weight: 800;
    text-align: center;
    font-size: 7em;
    width: 30%;
    color: #666666;
}
/*

.pre_speakers .heading {
    text-align: center;
    font-size: 3em;
    width: 30%;
    margin:auto;
    margin-bottom: 4%;
}
*/

.pre_speakers .grid {
    padding: 2%;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.pre_speakers .grid .photo {
    float: left;
}

.pre_speakers .grid .photo {
    padding-bottom: 2%;
    width: 16%;
    float: left;
}

.pre_speakers .grid .photo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    width: 111px;
    height: 111px;
}

.photo_content {
    margin-top: 4%;
    font-size: 1.4em;
    display: block;
    text-align: center;
}

.filler {
    width: 100%;
    height: 500px;
    background-color: grey;
}

.img1 {
    background-image: url(../img/events/Mozilla_band.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.why {
    padding: 4%;
    height: 100%;
    width: 100%;
}

.why .heading {
    text-transform: uppercase;
    border-bottom: 5px solid #666666;
    margin-left: -15%;
    margin-top: 18%;
    padding-bottom: 20px;
    float: left;
    transform: rotate(-90deg);
    font-weight: 800;
    text-align: center;
    font-size: 7em;
    width: 40%;
    color: #666666;
}

.why .content{
    border: 5px solid #efefef;
    overflow: auto;
    padding-left: 10px;
    max-height: 400px;
    margin-left: -10%;
    margin-top: 7%;
    width: 80%;
    float: left;
}

.why .content .wrap {
    margin-left: 2%;
    margin-right: 2%;
}

.divider {
    width: 60%;
    border-top: 1px solid #e6e6e6;
    margin: 4% auto 4% auto;
}

.pre_sponsors {
    width: 100%;
    height: 100%;
}

.pre_sponsors .heading {
    text-transform: uppercase;
    border-bottom: 5px solid #666666;
    margin-left: -11.5%;
    margin-top: 18%;
    padding-bottom: 20px;
    float: left;
    transform: rotate(-90deg);
    font-weight: 800;
    text-align: center;
    font-size: 7em;
    width: 40%;
    color: #666666;
}

.pre_sponsors .wrapper {
    float: left;
    width: 70%;
    margin-left: -10%;
    margin-top: 7%;
}

.pre_sponsors .head {
    font-size: 2em;
    margin-bottom: 2%;
    font-weight: 800;
}

.pre_sponsors .wrapper .content{
    border: 5px solid #efefef;
    overflow: auto;
    padding-left: 10px;
    max-height: 400px;
    width: 100%;
}

.pre_sponsors .content .wrap {
    margin-left: 2%;
    margin-right: 2%;
}

.img2 {
    background-image: url(../img/events/Keyboard.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.contact {
    padding: 4%;
    height: auto;
    width: 100%;
}

.contact .heading {
    text-transform: uppercase;
    border-bottom: 5px solid #666666;
    margin-left: -11.5%;
    margin-top: 18%;
    padding-bottom: 20px;
    float: left;
    transform: rotate(-90deg);
    font-weight: 800;
    text-align: center;
    font-size: 7em;
    width: 40%;
    color: #666666;
}

.contact p {
    line-height: 1.2;
    width: 80%;
    margin: auto;
    font-size: 1.4em;
    text-align: center;
}

.contact p span {
    color: green;
}

.footer {
    font-size: 1.4em;
    padding: 2%;
    width: 100%;
    height: 10%;
    background-color: darkslateblue;
    text-align: center;
}