//- Mixins and Varibles
include ./templates/settings/mixins
include ./templates/settings/variables

doctype
html
    include ./templates/head
    body(ng-app="app")

        .container-fluid(ng-controller="PreferenceController")
            .row
                .col-xs-12.col-md-8.col-md-offset-2

                    h2.center Complete the registration.
                    
                    div(style="min-height:300px")
                        
                        div(ng-if="isDone" style="padding-top:100px")
                            .row.center-xs
                                .col-xs
                                    h4 Your registration is complete.
                                    a.bbtn(href="./") Go Back To Home
                    
                        div(ng-if="!fetched" style="padding-top:150px")
                            loader
                                
                        div(ng-if="fetched&&!isDone")
                            form(name="form")

                                .formrow
                                    p Choose the worksops you would like to attend:
                                    .row.middle-xs
                                        .col-xs-12.col-md-4(ng-repeat="w in workshops")
                                            radio(model='w.checked', value="true", label='@{{w.name}}')
                                        
                                .row
                                    .col-xs(ng-if="!isLoading")
                                        button(type='submit', tabindex='0', ng-click="register()") Submit

                                    .col-xs(ng-if="isLoading")
                                        loader

        include ./templates/invitefriends
        include ./templates/scripts
