//- Mixins and Varibles
include ./templates/settings/mixins
include ./templates/settings/variables

doctype
html
    include ./templates/head
    body(ng-app="app")
        include ./templates/wrapper
        include ./templates/modal
        include ./templates/scripts

        //- That's what i call neat! There's room for making it more neat!.
