
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h4>Add User</h4>
      <form name="form">
        <lx-text-field lx-label="Name" lx-theme="light">
          <input type="name" name="name" ng-model="input.name" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.name.$dirty && !form.name.$valid">Enter Name</span>
        <lx-text-field lx-label="Email" lx-theme="light">
          <input type="email" name="email" ng-model="input.email" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.email.$dirty && !form.email.$valid">Enter Email</span>
        <lx-text-field lx-label="Password" lx-theme="light">
          <input type="text" name="password" ng-model="input.password" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.password.$dirty && !form.password.$valid">Enter Password</span><span class="text-field-error" ng-if="errors" ng-repeat="error in errors">{{error}}</span>
        <div class="m_l">
          <loading-button class="m_t_l" handler="handler" ng-click="add()" value="Add" success-text="success" fail-text="failed" lx-size="l" lx-type="raised" lx-color="theme" lx-diameter="75" disable-criteria="!form.name.$valid || !form.email.$valid || !form.password.$valid"></loading-button>
        </div>
      </form>
    </div>
  </div>
</div>