
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h4>View User</h4>
      <p class="c-theme-base">Email</p>
      <p>{{to_view.email}}</p>
    </div>
  </div>
</div>