
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 col-md-offset-1 col-xs-12">
      <h2 class="m_xl">Login</h2>
      <div ng-if="!needsauth">
        <app-progress class="m_t_l" lx-diameter="100" lx-color="theme" lx-type="circular"></app-progress>
      </div>
      <form name="login" ng-if="needsauth">
        <lx-text-field lx-label="Email" lx-theme="light" lx-error="login.email.$invalid">
          <input type="email" name="email" ng-model="input.email"/>
        </lx-text-field><span class="text-field-error" ng-if="login.email.$dirty &amp;&amp; !login.email.$valid">Invalid email</span>
        <lx-text-field lx-label="Password" lx-theme="light" lx-error="login.password.$invalid">
          <input type="password" name="password" ng-model="input.password"/>
        </lx-text-field><span class="m_s text-field-error" ng-if="errors" ng-repeat="error in errors">{{error}}</span>
        <div class="m_l"></div>
        <loading-button ng-click="authenticate()" handler="loginHandler" value="Login" success-text="success" fail-text="failed" lx-size="l" lx-type="raised" lx-color="theme" lx-diameter="75" ng-disabled="!login.email || !login.email.$valid"></loading-button>
      </form>
    </div>
  </div>
</div>