
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h4>Edit Workshop</h4>
      <form name="form">
        <lx-text-field lx-label="Name" lx-theme="light">
          <input type="text" name="name" ng-model="input.name" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.name.$dirty && !form.name.$valid">Enter Name</span>
        <lx-text-field lx-label="Count" lx-theme="light">
          <input type="text" name="count" ng-model="input.count" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.count.$dirty && !form.count.$valid">Enter Count</span><span class="text-field-error" ng-if="errors" ng-repeat="error in errors">{{error}}</span>
        <loading-button class="m_t_l" handler="handler" ng-click="save()" value="Save" success-text="success" fail-text="failed" lx-size="l" lx-type="raised" lx-color="theme" lx-diameter="75" disable-criteria="!form.name.$valid || !form.count.$valid"></loading-button>
        <div class="divider divider--light m_t_l"></div><span class="text-field-error" ng-if="deleteErrors" ng-repeat="error in deleteErrors">{{error}}</span>
        <div class="m_l">
          <loading-button class="m_t_l" handler="deleteHandler" ng-click="delete()" value="Delete" success-text="success" fail-text="failed" lx-size="l" lx-type="raised" lx-color="theme" lx-diameter="75" disable-criteria="false"></loading-button>
        </div>
      </form>
    </div>
  </div>
</div>