
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h4>View Workshop</h4>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Name</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.name}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Count</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.count}}</p>
        </div>
      </div>
    </div>
  </div>
</div>