
-
   var coc = [{
            title : 'Code of Conduct',
            content : `FOSSMeet is a community conference intended for networking and collaboration in the developer community.

                      We value the participation of each member of the FOSS community and want all attendees to have an enjoyable and fulfilling experience. Accordingly, all attendees are expected to show respect and courtesy to other attendees throughout the conference and at all conference events.

                      To make clear what is expected, all delegates/attendees, speakers, exhibitors, organizers and volunteers at the FOSSMeet event are required to conform to the following Code of Conduct. Organizers will enforce this code throughout the event.`
            },{
            title : 'The Short Version',
            content : `FOSSMeet is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of conference participants in any form.

            All communication should be appropriate for a professional audience including people of many different backgrounds. Sexual language and imagery is not appropriate for any conference venue, including talks.

            Be kind to others. Do not insult or put down other attendees. Behave professionally. Remember that harassment and sexist, racist, or exclusionary jokes are not appropriate for FOSSMeet.

            Attendees violating these rules may be asked to leave the conference without a refund at the sole discretion of the conference organizers.

            Thank you for helping make this a welcoming, friendly event for all.`
            },{
                title : 'The Longer Version',
                content : ` Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.

                Participants asked to stop any harassing behavior are expected to comply immediately.

                Exhibitors in the expo hall, sponsor or vendor booths, or similar activities are also subject to the anti-harassment policy. In particular, exhibitors should not use sexualized images, activities, or other material. Booth staff (including volunteers) should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized environment.

                Be careful in the words that you choose. Remember that sexist, racist, and other exclusionary jokes can be offensive to those around you. Excessive swearing and offensive jokes are not appropriate for conference talks like FOSSMeet.

                If a participant engages in behavior that violates this code of conduct, the conference organizers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund.`
          },{
               title : 'License',
               content : `This Code of Conduct was forked from the example policy from the <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">Geek Feminism wiki, created by the Ada Initiative and other volunteers</a>. which is under a Creative Commons Zero license.`
          }];

.tabstuff.pad_l
    .container-fluid
        .row.middle-xs
            .col-xs-12.col-md-3.center
                img(src="./img/icons/coc.png" style="width:100px; border-radius: 50%;")/
            .col-xs-12.col-md-9
                h1= coc[0].title
                p.justify= coc[0].content

            .row.middle-xs

                .col-xs-12.col-md-10
                    h1= coc[1].title
                    p.justify= coc[1].content
                .col-xs-12.col-md-2.center
                    a.bbtn#TheCOCLongBtn(onclick="document.getElementById('TheCOCLongVersion').style.display='block';document.getElementById('TheCOCLongBtn').style.display='none';") Read More


            .row.middle-xs#TheCOCLongVersion(style="display:none;")
                .col-xs-12.col-md-10
                    h1= coc[2].title
                    p.justify= coc[2].content

            .row.middle-xs
                .col-xs-12.col-md-12
                    h1= coc[3].title
                    p.justify!= coc[3].content
