.container-fluid
  .row
    .col-md-8.col-md-offset-2.col-xs-12
      h2.center Connect with Us


      div(ng-if="contactSend" style="padding:75px 0px")
        h4.center(style="padding-top:15px") Thank you for your message.
        h4.center We'll get back to you soon.

      form(name="contactform" ng-if="!contactSend")
          .formrow
              input(ng-model="contact.name" type='text', name='name')/
              label(for='name') Name
          .formrow
              input(ng-model="contact.email" type='email', name='email')/
              label(for='email') Email
          .formrow
            textarea#fancy-textarea(ng-model="contact.message" name='message' required)
            label(for='message') Message

          p.error(ng-if!="(contactform.message.$dirty||submitted)&&contactform.message.$invalid")
            | Please enter your message.

          .row
            .col-xs(ng-if="!contactLoading")
                button(type='submit', tabindex='0', ng-click="addFeed()") Submit

            .col-xs(ng-if="contactLoading")
                loader

      .center
          //- https://github.com/FortAwesome/Font-Awesome/issues/414
          a(class='social-link' href='https://poddery.com/u/fossmeet')
              i.fa.fa-asterisk
          a(class='social-link' href='https://www.facebook.com/fossmeet')
              i.fa.fa-facebook
          a(class='social-link' href='https://www.twitter.com/fossmeet')
              i.fa.fa-twitter
          a(class='social-link' href='https://www.gitlab.com/fosscell')
              i.fa.fa-gitlab
          a(class='social-link' href='https://www.youtube.com/channel/UCwfNynjOSd3oPwIFqduJ9-Q')
              i.fa.fa-youtube
          a(class='social-link' href='http://webchat.freenode.net/?channels=%23FOSSCell%2C%23FOSSMeet&randomnick=1')
              i.fa.fa-hashtag
