-
    var prefix = './img/front/';
    //- cd build/img/front/ ; for i in `ls -1`; do echo "'${i}',"; done ; cd ../../..
    var images = [
      '09d1887610dd55fffeebdb18977d2df9_original.png',
      '860dd99caeabf8b3ef87225688244e73.jpg',
      'alex-tass-f-s-f-rebound.png',
      'Apache_PoweredBy.png',
      'Atul-Chitnis.jpg',
      'BabyGnuAlpha.png',
      'dt-logo-2015-test-files-r1-green-part.png',
      'DuckDuckGo-Logo.jpg',
      'e66a60789aa4622183362b8b19dba0bd.jpg',
      'fedora.png',
      'FOSS_logo.91151336_std.jpg',
      'Gitlab_logo.png',
      'git_logo.png',
      'gnu-head.png',
      'google.jpg',
      'heart.svg',
      'hZda1.png',
      'imENUbEK_400x400.png',
      'KNOPPIX_logo.png',
      'kodi.png',
      'linus.jpg',
      'linux-penguin-big_origpreview.jpg',
      'mint8logo.png',
      'Mozilla_Firefox_Logo.png',
      'OBS.png',
      'ohw.png',
      'slow-firefox-ubuntu.jpg',
      'stallman.jpg',
      'ubuntu-logo.jpg',
      'ubuntu.svg',
      'wordpress-logo-square.png'
    ];

.header
    img(src="./img/logo.svg" style="width:100px")/
    h1= $vars.heading
    p(style="letter-spacing: 0.2em;")= $vars.tagLine
    h3= $vars.dates
    a.bbtn(data-toggle='tab', href!="#reg" ng-click="toggle()" style="padding: 2px 20px;margin: 0;") Register

//- absolute positioned.
#home-inner
    each pic, index in images
        .tile
            img.imgtile.img-fluid(src=prefix+pic)/
