mixin radio(name,label)
    .row.middle-xs
        .col-md-3.col-xs-2
            block
        .col-xs
            p=label

.container-fluid(ng-controller="RegController")
    .row
        .col-xs-12.col-md-8.col-md-offset-2(style="min-height:90vh")

            div(ng-if!="!showForm" style="padding-top:50px")

                h2 Registration Guidelines
                ul.guidelines
                  li
                    |One thing you should know, there are <b>limited</b> number of seats in some of the popular workshops. Act fast so that you dont miss out on any awesome workshop.
                  li
                    |Online registration is the easiest way for you to act fast. We will provide you with a unique ID via email once you make the payment online, using which you will be able to tell us the list of your preferred workshops. FCFS rule applied here (First Come First Served).
                  li
                    |If you wish to register online, then 5<sup>th</sup> March is the deadline.
                  li
                    |In case you are not able to register online, you can still register for FOSSMeet '17 by coming here (NIT Calicut). College ID (for students)/Photo ID (for professionals), is mandatory.
                  li
                    |A FOSSMeet '17 ID shall be provided at the registration desk. It shall be your ticket into the workshops you wish to attend (so please take care of the FOSSMeet ID!).
                  li
                    |Even if you have registered online, you should report to the Registration Desk and provide your College ID (for students)/Photo ID (for professionals), so that we can confirm your participation and you can pick up your FOSSMeet '17 ID.
                  li
                    |Accommodation shall be provided to all the participants who require it, on a First Come First Serve basis,  which might incur a nominal charge. This shall be taken care of at the Registration Desk.
                  li
                    |Participants who wish to use their own laptops for hands-on sessions are expected to have the necessary softwares installed beforehand as specified in the schedule.

                a.bbtn(ng-click="show()") I agree

            form(name="form" ng-if!="showForm")

                h2.center Register

                .formrow
                    input(type='text', name='name' ng-model="in.name" required)/
                    label(for='name') Name
                    p.error(ng-if!="(form.name.$dirty||submitted)&&form.name.$invalid")
                        | Please enter your name.
                .formrow
                    input(type='email', name='email' ng-model="in.email" required)/
                    label(for='email') Email
                    p.error(ng-if!="(form.email.$dirty||submitted)&&form.email.$invalid")
                        | Please enter your email.
                .formrow
                    input(type='text', name='mobile' ng-model="in.mobile" required)/
                    label(for='mobile') Mobile
                    p.error(ng-if!="(form.mobile.$dirty||submitted)&&form.mobile.$invalid")
                        | Please enter your mobile number.
                .formrow
                    p Choose your registration type:
                    .row.middle-xs
                        .col-xs-12.col-md-4
                            radio(model='in.reg_type', value="TYPE_NITC", label='NITC Student ₹100')
                        .col-xs-12.col-md-4
                            radio(model='in.reg_type', value="TYPE_OTHER", label='Outside NITC Students ₹400')
                        .col-xs-12.col-md-4
                            radio(model='in.reg_type', value="TYPE_PROFESSIONAL", label='Professionals ₹800')

                    p.error(ng-if!="submitted&&!in.reg_type")

                        | Please choose registration type.


                    div(ng-show="in.reg_type=='TYPE_PROFESSIONAL'||in.reg_type=='TYPE_OTHER'")
                        p Name of your @{{ in.reg_type == 'TYPE_OTHER' ? 'college' : 'organization'}}:
                        .formrow
                            .row.middle-xs
                                .col-xs
                                    input(type='text', name='organization_name' ng-model="in.organization_name")/
                                    label(for='organization_name') Name
                                    p(ng-if!="(form.organization_name.$dirty||submitted)&&form.organization_name.$invalid")
                                        | Please enter the name of your @{{ in.reg_type == 'TYPE_OTHER' ? 'college' : 'organization'}}.

                .formrow
                    p Gender:
                    .row.middle-xs
                        .col-xs-12.col-md-4
                            radio(model='in.gender', value="Male", label='Male')
                        .col-xs-12.col-md-4
                            radio(model='in.gender', value="Female", label='Female')

                    p.error(ng-if!="submitted&&!in.gender")

                        | Please choose gender.

                .formrow
                    p Food preference:
                    .row.middle-xs
                        .col-xs-12.col-md-4
                            radio(model='in.food_preference', value="veg", label='Veg')
                        .col-xs-12.col-md-4
                            radio(model='in.food_preference', value="non veg", label='Non Veg')


                    p.error(ng-if="submitted&&!in.food_preference")
                        | Please choose food preference.

                .formrow
                    p Would you like to opt for a FOSSMeet '17 T-shirt?
                    .row.middle-xs
                        .col-xs-12.col-md-4
                            radio(model='in.need_tshirt', value="Yes", label='Yes')
                        .col-xs-12.col-md-4
                            radio(model='in.need_tshirt', value="No", label='No')

                .formrow(ng-if!="in.need_tshirt=='Yes'")
                    p T-shirt size:
                    .row.middle-xs
                        .col-xs-12.col-md-4
                            radio(model='in.tshirt_size', value='S', label="S")
                        .col-xs-12.col-md-4
                            radio(model='in.tshirt_size', value='M', label="M")
                        .col-xs-12.col-md-4
                            radio(model='in.tshirt_size', value='L', label="L")
                        .col-xs-12.col-md-4
                            radio(model='in.tshirt_size', value='XL', label="XL")
                        .col-xs-12.col-md-4
                            radio(model='in.tshirt_size', value='XXL', label="XXL")

                    p.error(ng-if="submitted&&!in.tshirt_size")
                        | Please choose your tshirt size.

                .formrow
                    p Do you need to be provided accomodation?
                    .row.middle-xs
                        .col-xs-12.col-md-4
                            radio(model='in.accomodation', value='Y', label="Yes")
                        .col-xs-12.col-md-4
                            radio(model='in.accomodation', value='N', label="No")

                    p.error(ng-if="submitted&&!in.accomodation")
                        | Please choose select one of the options.

                .row
                    .col-xs(ng-if!="!isLoading")
                        button(type='submit', tabindex='0', ng-click="register()") Submit
