.tabstuff
    .container-fluid(style="min-height:90vh")
        .row.center-xs
            .col-xs
                h1 Schedule
        form
            .row.center-xs.middle-xs
                .col-xs-12.col-md-4
                    radio(model='in.day', value="0", label='Day 1')
                .col-xs-12.col-md-4
                    radio(model='in.day', value="1", label='Day 2')
                .col-xs-12.col-md-4
                    radio(model='in.day', value="2", label='Day 3')
                    
        .schedulestack
            .head
                .row.center-xs
                    .col-md.col-xs-12
                        h4= $vars.schedule.venue1
                    .col-md.hide-xs
                        h4= $vars.schedule.venue2
                    .col-md.hide-xs
                        h4= $vars.schedule.venue3

            .body
                .row
                    .col-xs-12.col-md(style="padding-top:20px")
                        div(ng-repeat="s in schedulestack.v1")
                            stack(content="s")
                                
                    .col-xs-12.hide-md.center
                        h4(ng-if="schedulestack.v2.length>0")= $vars.schedule.venue2
                            
                    .col-xs-12.col-md(style="padding-top:20px")
                                                
                        div(ng-repeat="s in schedulestack.v2")
                            stack(content="s")
                                
                    .col-xs-12.hide-md.center
                        h4(ng-if="schedulestack.v3.length>0")= $vars.schedule.venue3
                        
                    .col-xs-12.col-md(style="padding-top:20px")
                        
                        div(ng-repeat="s in schedulestack.v3")
                            stack(content="s")

            
            

//-
                        each schedule in $vars.schedule.venue2_scheulde
                            if schedule.type == 'stack'
                                div.stack(class="stack-h-"+schedule.height+" stack-bg-"+schedule.color)
                                    h4=schedule.title
                                    p=schedule.time
                            else if schedule.type =='emptystack'
                                div.emptystack(class="stack-h-"+schedule.height)

                    .col-xs

                        each schedule in $vars.schedule.venue3_scheulde
                            if schedule.type == 'stack'
                                div.stack(class="stack-h-"+schedule.height+" stack-bg-"+schedule.color)
                                    h4=schedule.title
                                    p=schedule.time
                            else if schedule.type =='emptystack'
                                div.emptystack(class="stack-h-"+schedule.height)
