-
    var speakers = [
      {
          name : 'Abhas Abhinav',
          link: 'https://in.linkedin.com/in/abhasabhinav',
          phone: '#phone',
          image: './img/speakers/abhas.png'
      },
      {
          name : 'Pramode C E',
          link: 'http://pramode.net/',
          phone: '#phone',
          image: './img/speakers/pramode.png'
      },
      {
          name : 'Sasi Kumar',
          link: 'https://in.linkedin.com/in/sasi-kumar-1a48688',
          phone: '#phone',
          image: './img/speakers/sks.png'
      },
      {
          name : 'Noufal Ibrahim',
          link: 'http://nibrahim.net.in/',
          phone: '#phone',
          image: './img/speakers/noufal.png'
      },
      {
          name : 'Sarah Masud',
          link: 'https://in.linkedin.com/in/sarahmasud',
          phone: '#phone',
          image: './img/speakers/sarah.png'
      },
      {
          name : 'Jishnu Mohan',
          link: 'https://j15h.nu/',
          phone: '#phone',
          image: './img/speakers/j15hnu.png'
      },
      {
          name : 'Krishnakant Mane',
          link: 'https://twitter.com/kkmane',
          phone: '#phone',
          image: './img/speakers/kkmane.png'
      },
      {
          name : 'And Many More ...',
          link: 'https://fossmeet-nitc.talkfunnel.com/2017/',
          phone: '#phone',
          image: './img/speakers/plus.png'
      }
    ];


.tabstuff
    .container-fluid
        .row.center-xs
            .col-xs
                h1 Speakers
        .row.center-xs
            each speaker in speakers
                .col-xs
                    a(href=speaker.link)
                        .speaker-card
                            img(src=speaker.image)/
                            h4=speaker.name
