-
    var gitlab = './img/sponsors/gitlab.png';
    var insta = './img/sponsors/instamojo.png';
    var nilenso = './img/sponsors/nilenso.png';
    var ieee = './img/sponsors/ieee.png';
    var icfoss = './img/sponsors/icfoss.png';


.tabstuff
    .container-fluid
        //- .row.center-xs
            //- .col-xs
                //- h1 Sponsors
        .row.center-xs(style="padding-top:50px;")
            .col-xs-12.col-md-6

                a(href='https://nilenso.com/')
                    .row.center-xs.pad
                        img.large(src=nilenso)/

                .row.center-xs.middle-xs.pad(style="background-color: #FFF;border-radius: 1.5em")
                        a(href='https://about.gitlab.com/')
                            .col-xs
                                img.small(src=gitlab)/
                        a(href='http://icfoss.in/')
                            .col-xs
                                img.small(src=icfoss)/
                        div(style='height:2em;')
                        a(href='http://ieee.nitc.ac.in/')
                            .col-xs
                                img.small(src=ieee)/
                        a(href='about:blank')
                            .col-xs
                                img.small(src=insta)/
