
-
   var what = [{
            title : 'What is FOSSMeet?',
            content : `FOSSMeet is an annual event on Free and Open Source Software, conducted at National Institute of Technology, Calicut. Started with a vision to create a culture of innovation, evolution and open standards, the meet intends to support the FOSS community and the dissemination of FOSS ideology through hands-on sessions, discussions and lectures. Nothing better to get you introduced to the world of FOSS. `
            },{
                title : 'Pre-FOSSMeet Events',
                content : `This year, in order to introduce school children into the world of FOSS, FOSSCell NIT-C conducted an event called School FOSSMeet on February 18<sup>th</sup>. Students from over 10 schools around the campus had been invited for the event. More details regarding the event can be found <a href="https://school.fossmeet.in/">here</a>.`
            },{
                title : 'What to expect?',
                content: `FOSSMeet will feature workshops, talks and discussions on a wide range of topics by established speakers in the FOSS arena. The hands-on sessions will orient you not just to develop using FOSS, but contribute to the same as well. Most importantly, FOSSMeet is a chance to meet like-minded people :-) `
            }];

.tabstuff.pad_l
    .container-fluid
        .row.middle-xs
            .col-xs-12.col-md-3.center
                img(src="./img/icons/what.png" style="width:100px; border-radius: 50%;")/
            .col-xs-12.col-md-9
                h1= what[0].title
                p.justify= what[0].content

            .row.middle-xs
                .col-xs-12.col-md-3.center
                    img(src="./img/icons/events.png" style="width:100px; border-radius: 50%;")/
                .col-xs-12.col-md-9
                    h1= what[1].title
                    p.justify!= what[1].content

            .row.middle-xs
                .col-xs-12.col-md-3.center
                    img(src="./img/icons/expect.png" style="width:100px; border-radius: 50%;")/
                .col-xs-12.col-md-9
                    h1= what[2].title
                    p.justify= what[2].content
