
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h4>Add Registration</h4>
      <form name="form">
        <lx-text-field lx-label="Name" lx-theme="light">
          <input type="text" name="name" ng-model="input.name" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.name.$dirty && !form.name.$valid">Enter Name</span>
        <lx-text-field lx-label="Email" lx-theme="light">
          <input type="text" name="email" ng-model="input.email" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.email.$dirty && !form.email.$valid">Enter Email</span>
        <lx-text-field lx-label="Mobile" lx-theme="light">
          <input type="text" name="mobile" ng-model="input.mobile" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.mobile.$dirty && !form.mobile.$valid">Enter Mobile</span>
        <lx-text-field lx-label="Organization_name" lx-theme="light">
          <input type="text" name="organization_name" ng-model="input.organization_name" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.organization_name.$dirty && !form.organization_name.$valid">Enter Organization_name</span>
        <lx-text-field lx-label="Gender" lx-theme="light">
          <input type="text" name="gender" ng-model="input.gender" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.gender.$dirty && !form.gender.$valid">Enter Gender</span>
        <lx-text-field lx-label="Reg_type" lx-theme="light">
          <input type="text" name="reg_type" ng-model="input.reg_type" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.reg_type.$dirty && !form.reg_type.$valid">Enter Reg_type</span>
        <lx-text-field lx-label="Food_preference" lx-theme="light">
          <input type="text" name="food_preference" ng-model="input.food_preference" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.food_preference.$dirty && !form.food_preference.$valid">Enter Food_preference</span>
        <lx-text-field lx-label="Tshirt_size" lx-theme="light">
          <input type="text" name="tshirt_size" ng-model="input.tshirt_size" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.tshirt_size.$dirty && !form.tshirt_size.$valid">Enter Tshirt_size</span>
        <lx-text-field lx-label="Instamojo_before_payment_id" lx-theme="light">
          <input type="text" name="instamojo_before_payment_id" ng-model="input.instamojo_before_payment_id" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.instamojo_before_payment_id.$dirty && !form.instamojo_before_payment_id.$valid">Enter Instamojo_before_payment_id</span>
        <lx-text-field lx-label="Instamojo_after_payment_id" lx-theme="light">
          <input type="text" name="instamojo_after_payment_id" ng-model="input.instamojo_after_payment_id" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.instamojo_after_payment_id.$dirty && !form.instamojo_after_payment_id.$valid">Enter Instamojo_after_payment_id</span>
        <lx-text-field lx-label="Is_online_reg" lx-theme="light">
          <input type="text" name="is_online_reg" ng-model="input.is_online_reg" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.is_online_reg.$dirty && !form.is_online_reg.$valid">Enter Is_online_reg</span>
        <lx-text-field lx-label="Accomodation" lx-theme="light">
          <input type="text" name="accomodation" ng-model="input.accomodation" required="required"/>
        </lx-text-field><span class="text-field-error" ng-if="form.accomodation.$dirty && !form.accomodation.$valid">Enter Accomodation</span><span class="text-field-error" ng-if="errors" ng-repeat="error in errors">{{error}}</span>
        <div class="m_l">
          <loading-button class="m_t_l" handler="handler" ng-click="add()" value="Add" success-text="success" fail-text="failed" lx-size="l" lx-type="raised" lx-color="theme" lx-diameter="75" disable-criteria="!form.name.$valid || !form.email.$valid || !form.mobile.$valid || !form.organization_name.$valid || !form.gender.$valid || !form.reg_type.$valid || !form.food_preference.$valid || !form.tshirt_size.$valid || !form.instamojo_before_payment_id.$valid || !form.instamojo_after_payment_id.$valid || !form.is_online_reg.$valid || !form.accomodation.$valid"></loading-button>
        </div>
      </form>
    </div>
  </div>
</div>