
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h4>View Registration</h4>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Name</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.name}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Email</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.email}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Mobile</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.mobile}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Organization_name</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.organization_name}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Gender</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.gender}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Reg_type</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.reg_type}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Food_preference</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.food_preference}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Tshirt_size</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.tshirt_size}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Instamojo_before_payment_id</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.instamojo_before_payment_id}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Instamojo_after_payment_id</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.instamojo_after_payment_id}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Is_online_reg</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.is_online_reg}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <p class="c-theme-base ta-right">Accomodation</p>
        </div>
        <div class="col-xs">
          <p>{{to_view.accomodation}}</p>
        </div>
      </div>
    </div>
  </div>
</div>