-
    var $vars = {}; //funky name to hold all global variables in templates.

    // meta section
    $vars.description = 'FOSSMeet is the annual event on Free and Open Source Software, conducted at National Institute of Technology, Calicut.';
    $vars.keywords = 'nitc, fossmeet, NITC, CSEA, FOSSCell, fossmeet, fossmeet 2017, nit, fossmeet nit, nit calicut';
    $vars.author = 'FOSSCell, NITCalicut';
    $vars.title = ' FOSSMeet 17 | FOSSCell NITC '
    $vars.tagLine = 'Think Free, Code Better'
    $vars.heading = 'FOSSMeet \'17';
    $vars.dates = 'March 10 - 12, 2017';

    //facebook
    $vars.facebookmeta = {
        'og:title' : "FOSSMeet '17",
        'og:type' : 'Website',
        'og:url' : 'http://fossmeet.in/2017/',
        'og:description' : 'FOSSMeet is the annual event on Free and Open Source Software, conducted at National Institute of Technology, Calicut.',
        'og:locale' : 'en_IN',
        'og:image' : 'http://fossmeet.in/2017/img/yash2696.png',
        'fb:app_id' : '1063442297042156'
    };

    $vars.twittermeta = {
        'twitter:card' : 'summary',
        'twitter:site' : '@fossmeet',
        'twitter:creator' : '@fosscell',
        'twitter:title' : "FOSSMeet '17",
        'twitter:description' : 'FOSSMeet is the annual event on Free and Open Source Software, conducted at National Institute of Technology, Calicut.',
        'twitter:image' : 'http://fossmeet.in/2017/img/yash2696.png',
        'twitter:image:alt' : "FOSSMeet '17"
    };

    $vars.googledata = {
        "@context": "http://schema.org",
        "@type": "Event",
        "name": "FOSSMeet 2017",
        "image": "http://fossmeet.in/2017/img/yash2696.png",
        "description": "FOSSMeet is the annual event on Free and Open Source Software, conducted at National Institute of Technology, Calicut.",
        "startDate": "2017-03-10T15:00:00+05:30",
        "endDate": "2017-03-12T18:00:00+05:30",
        "url": "http://fossmeet.in/2017/",
        "location": {
            "@type" : "Place",
            "name" : "National Institute of Technology Calicut",
            "address": "NITC CAMPUS PO, Kettangal Koduvally Road Kozhikode, Kerala - 673601"
        }
    };

    $vars.schedule = {
        venue1 : 'Software Systems Lab',
        venue2 : 'Network Systems Lab ',
        venue3 : 'Chanakya Hall',
        venue1_scheulde : [{
            type : 'stack',
            title : 'Registration',
            time : '5 PM - 6 PM',
            height: 2,
            color: 'red'
        },{
            type : 'stack',
            title : 'Inaugration',
            time : '7 PM - 7.30 PM',
            height: 1,
            color: 'red'
        },{
            type : 'stack',
            title : 'KeyNote',
            time : '7.30 PM - 8.30 PM',
            height: 2,
            color: 'red'
        }],

        venue2_scheulde : [{
            type : 'emptystack',
            height: 2
        },{
            type : 'stack',
            title : 'KeyNote',
            time : '7 PM - 8 PM',
            height: 2,
            color: 'green'
        }],

        venue3_scheulde : [{
            type : 'emptystack',
            height: 4
        },{
            type : 'stack',
            title : 'Some Small Talk',
            time : '8 PM - 9 PM',
            height: 2,
            color: 'green'
        }]
    };

    $vars.contacts = {
      name: 'Dr. Vinod Pathari',
      title: 'Faculty In Charge',
      email: 'pathari@nitc.ac.in',
      tel: '+914952286803'
    },{
      name: 'A Rajgopal',
      title: 'Staff In Charge',
      email: 'argopal@nitc.ac.in',
      tel: '+919387523428'
    },{
      name: 'SIMSARUL HAQ V',
      title: 'Co-ordinator',
      email: 'simsar@fossmeet.in',
      tel: '+918891428851'
    },{
      name: 'VIVEK M',
      title: 'Co-ordinator',
      email: 'vivek@fossmeet.in',
      tel: '+919447473475'
    },{
      name: 'AASHISH SATYAJITH',
      title: 'Speakers Team',
      email: 'aashishsatya@fossmeet.in',
      tel: '+918606343845'
    },{
      name: 'SHRIMADHAV U K',
      title: 'Co-ordinator',
      email: 'shrimadhav@fossmeet.in',
      tel: '+918281753973'
    },{
      name: 'SIMSARUL HAQ V',
      title: 'Speakers Team',
      email: 'speakers@fossmeet.in',
      tel: '+91XXX'
    },{
      name: 'SIMSARUL HAQ V',
      title: 'Speakers Team',
      email: 'speakers@fossmeet.in',
      tel: '+91XXX'
    }
