.social{

}

.col-md-9 {
  padding-right: 2.5rem;
}

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    padding: 15px;
    margin: 5px;
    background-color: #eee;
    text-align: center;
    border-radius: 100%;
    text-decoration: none;
    color:#000;
    &:hover{
        background-color: #fff;
        text-decoration: none;
    }

    i{
        vertical-align: center;
    }
}
