
.FixedFooter {
	z-index: 5120;
	position: fixed;
	background: none repeat scroll 0 0 $black_80;
	color: $white;
	width: 100%;
	left: 0;
	padding: 1em;
	text-align: center;
	opacity: 0.8;
	bottom: 0;
	a {
		text-decoration: none;
		padding-right: 1em;
		color: $color_steel_blue_approx;
	}
	p {
		text-decoration: none;
		margin: 0;
		line-height: 0;
		font-size: 1.5em;
		color: $color_steel_blue_approx;
	}
}
.copyleft {
	padding-top: 0.15em;
	padding-bottom: 0.15em;
	display: inline-block;
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: scaleX(-1);
}
