#home{
    position: relative;
    overflow: hidden !important;
    height: 100vh;

    .header{
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        @include flex-direction(column);
        height: 100vh;
        background: rgba(0,0,0,.5);
        color:#fff;
        text-shadow: 1px 1px 1px #000;

        img {
          text-align: center;
        }

        p {
          text-transform: uppercase;
        }
    }

}
#home-inner{
    border: 1px solid #000;
    margin-top: -10vh;
    margin-left: -20%;
    height: 140vh;
    width: 140%;
    overflow: hidden;
    position: absolute;
    top:0;
    left: 0;
    z-index: -10;
    .tile{

        display: inline-block;
        width: 120px;
        height: 120px;

        .imgtile{
            width: 120px;
            height: 120px;
            border-radius: 100%;
            margin: 0px;
            &:hover{

            }

            @include transition-property(all);
            @include transition-duration(0s);
            @include transition-timing-function(ease-in);
        }

    }



}
