
.logohead {
	position: relative;
	margin: 0;
	padding: 4% 0 10px;
}
#dateDisplay {
	font-size: 176%;
}
#mainHead {
	padding-bottom: 0;
}
.mainPageHome {
	min-height: 100vh;
	max-width: 100%;
}
.sidebar-brand {
	top: 0 !important;
	img {
		display: inline-block;
		color: $black;
		width: 2.25em;
		height: 2.25em;
	}
}
.sectionHeading {
	text-align: center;
	margin-top: 50%;
	font-size: 3.75em;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
