@include media-query('palm'){
    .hide-xs{
        display: none;
    }
}

@include media-query('lap-and-up'){
    .hide-md{
        display: none;
    }
}

.schedulestack{

    position: relative;

    .head{
        position: absolute;
        width: 100%;
        top:0;
        left:0;
        background: $sidebar_bg;
    }
    .body{

    }

    @include media-query('lap-and-up'){
        .body{
            max-height: 80vh;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }

    @include media-query('palm'){
        position: static;
        .head{
            position: relative;
        }

        .body{

        }

    }

}

.stack{
    border: 1px solid rgba(0,0,0,.1);
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);

    h4{
        text-align: center;
    }
}

.emptystack{

}

$step_height: 100px;

@for $i from 1 through 10{
  .stack-h-#{$i}{
      height: $i*$step_height;
  }

}


$colors : (
'red' : #E84C3D,
'blue': #3598DB,
'green': #2FCC71,
'orange' : #e67e22,
'grey' : #c1cdc6
);

@each $color in $colors{
    $key: nth($color, 1);
    $value: nth($color, 2);
    .stack-bg-#{$key}{
        background: $value;
    }
}
