
 $color_rangoon_green_approx: #2b343a;
 $color_mountain_mist_approx: #333C42;

 body {
 	overflow-x: hidden;
 }

 $side-bar-length : 250px;

 #wrapper {
 	padding-left: 0;
 	transition: all 0.5s ease;
 	&.toggled {
 		padding-left: $side-bar-length;
 		#sidebar-wrapper {
 			width: $side-bar-length;
 		}
 		#page-content-wrapper {
 			position: absolute;
 			margin-right: -$side-bar-length;
 		}
 	}
 }

 #sidebar-wrapper {
 	z-index: 1000;
 	position: fixed;
 	left: $side-bar-length;
 	width: 0;
 	height: 100%;
 	margin-left: -$side-bar-length;
 	overflow-y: auto;
 	background: $sidebar_bg;
 	transition: all 0.5s ease;
 }

 #page-content-wrapper {
 	width: 100%;
 	position: absolute;
 	padding: 0px;
 }

 .sidebar-nav {
 	position: absolute;
 	top: 0;
 	width: $side-bar-length;
 	margin: 0;
 	padding: 0;
 	list-style: none;
 	li {
 		text-indent: 20px;
 		line-height: 40px;
 		a {
 			display: block;
 			text-decoration: none;
 			color: $link_color;
 			&:hover {
 				text-decoration: none;
 				color: $link_hover_color;
 				background: $sidebar_hover_bg;
 			}
 			&:active {
 				text-decoration: none;
 			}
 			&:focus {
 				text-decoration: none;
 			}
 		}
 	}
 	> .sidebar-brand {
 		height: 65px;
 		font-size: 18px;
 		line-height: 60px;
 		a {
 			color: $link_color;
 			&:hover {
 				color: $link_hover_color;
 				background: none;
 			}
 		}
 	}
 }

 @media(min-width:768px) {
 	#wrapper {
 		padding-left: $side-bar-length;
 		&.toggled {
 			padding-left: 0;
 			#sidebar-wrapper {
 				width: 0;
 			}
 			#page-content-wrapper {
 				position: relative;
 				margin-right: 0;
 			}
 		}
 	}
 	#sidebar-wrapper {
 		width: $side-bar-length;
 	}
 	#page-content-wrapper {
 		padding: 0px;
 		position: relative;
 	}
 }
