.speaker-card {
  padding:20px;
  padding-bottom: 25px;
  width: 200px;
  height: 85%;
  margin: 5px;
  display: inline-block;
  background: $sidebar_bg;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  img{
      max-width: 100%;
      border-radius: 0.5em;
  }

}
