#sponsors{

    .pad{
        padding: 30px 0px;
    }
    img.large{
        max-width: 100%;
        min-width: 100%;
    }

    img.small{
        max-width: 15em;
        min-width: 100%;
        padding-right: 2.5em;
        padding-bottom: 0.5em;
    }
    a:hover {
        border:0.015em dotted #333;
    }
}
