


* {
	font-family: 'Manjari' !important;
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	&:before,&:after {
        margin: 0;
    	padding: 0;
    	box-sizing: border-box;
    	border: 0;
	}
}

.header{
    background: #080B0C;
}


.navicon {
display:inline-block;
font-size:1.5rem;
min-width: 25px;
min-height: 25px;
padding: 10px 5px 5px 15px;
cursor:pointer;
}

#sidebar-wrapper.open{
    width: 250px;
}

.fa{
    font-family: 'FontAwesome' !important;
}
html {
}
body {
	position: relative;
	background: $body_bg;
	color:#eee;
}

.tabstuff{
	padding: 10px;
}

img{
    max-width: 100%;
}

.center{
    text-align: center;
}

.justify{
    text-align: justify;
}

.pad_l{
    padding: 50px 0px;
}
