%extend_2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-position: fixed;
	background-size: cover;
}

.overlay {
	@extend %extend_2;
	z-index: -1;
	background: $black_70;
}
.front {
	@extend %extend_2;
	z-index: -2;
}
.back {
	@extend %extend_2;
}
