//colors
$color_steel_blue_approx: #337ab7;
$black_80: rgba(0, 0, 0, 0.8);
$white: #fff;
$black_70: rgba(0,0,0,.7);
$black: #000;
$color_oslo_gray_approx: #829292;
$black_50: rgba(0, 0, 0, 0.5);
$color_cape_cod_approx: #394141;
$color_red_orange_approx: #ff3434;
$color_bright_sun_approx: #ffdd33;
$color_fern_approx: #67b678;
$color_mountain_mist_approx: #8e9699;
$color_mako_approx: #454f4f;
$color_de_york_approx: #7bc087;
$black_40: rgba(0, 0, 0, 0.4);
$color_celeste_approx: #ccc;
$color_shakespeare_approx: #51b2d6;
$color_aqua_forest_approx: #5fa269;
$color_bay_leaf_approx: #7fb587;
$color_hippie_green_approx: #4c8254;

$body_bg : #111619;
$main_bg : #2b343a;
$sidebar_bg : darken(#2b343a,10%);
$sidebar_hover_bg : #333C42;

$link_color:         rgba(255,255,255,.65);
$link_hover_color:   rgba(255,255,255,1);
