
<div class="row middle-xs">
  <div class="col-md-3 col-xs-2">
    <input type="radio" ng-value="value" ng-model="model"/>
    <label ng-click="set()"></label>
  </div>
  <div class="col-xs">
    <p>{{label}} </p>
  </div>
</div>