
<div ng-if="type == 'stack'">
  <div class="stack stack-h-{{height}} stack-bg-{{color}}">
    <h4 style="padding:5px;">{{title}}</h4>
    <p>{{start | date: 'h:mm a'}} - {{end | date: 'h:mm a'}}</p>
  </div>
</div>
<div ng-if="type == 'emptystack'">
  <div class="emptystack stack-h-{{height}}"></div>
</div>