div(ng-if="type == 'stack'")
    div.stack(class="stack-h-{{height}} stack-bg-{{color}}")
        h4(style="padding:5px;") {{title}}
        p {{start | date: 'h:mm a'}} - {{end | date: 'h:mm a'}}
div(ng-if="type == 'emptystack'")
    div.emptystack(class="stack-h-{{height}}")
