head
    meta(charset='utf-8')/
    meta(http-equiv='content-type', content='text/html; charset=utf-8')/
    meta(http-equiv='X-UA-Compatible', content='IE=edge')/
    meta(name='viewport', content='width=device-width, initial-scale=1.0')/

    //- @maddy. Please see templates/settings/mixins. And for variables settings/variables.
    +meta('description',$vars.description)
    +meta('keywords',$vars.keywords)
    +meta('author',$vars.author)

    each val, index in $vars.facebookmeta
        +metap(index,val)


    // Twitter Cards

    each val, index in $vars.twittermeta
        +meta(index,val)

    // Google Structured data markup
    script(type='application/ld+json')
        | !{JSON.stringify($vars.googledata)}

    // the Title of the Page
    title= $vars.title

    link(rel='stylesheet', href='css/vendor.css', type='text/css')/


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="js/html5shiv.js"></script>
      <script type="text/javascript" src="js/respond.js"></script>
    <![endif]-->

    link(rel='stylesheet', href='css/styles.css', type='text/css')/

    // the MANIFEST file
    link(rel='manifest', href='manifest.json')/

    meta(name='msapplication-config', content='browserconfig.xml')/
    // http://realfavicongenerator.net/
    link(rel='apple-touch-icon', sizes='180x180', href='/img/favicons/apple-touch-icon.png')
    link(rel='icon', type='image/png', href='/img/favicons/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/img/favicons/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/img/favicons/manifest.json')
    link(rel='mask-icon', href='/img/favicons/safari-pinned-tab.svg', color='#1f2021')
    link(rel='shortcut icon', href='/img/favicons/favicon.ico')
    meta(name='apple-mobile-web-app-title', content="FOSSMeet '17")
    meta(name='application-name', content="FOSSMeet '17")
    meta(name='msapplication-config', content='/img/favicons/browserconfig.xml')
    meta(name='theme-color', content='#1f2021')
