-
  var shareVar = "I%20am%20going%20to%20%40nilenso%20presents%20%40fossmeet%20in%20association%20with%20%40gitlab%20powered%20by%20IEEE%20and%20%40instamojo!%20Join%20me!";

.container-fluid
  .row
    .col-md-8.col-md-offset-2.col-xs-12
      h2.center Invite your Friends

      .center
          //- https://github.com/FortAwesome/Font-Awesome/issues/414
          a(class='social-link' href='https://share.diasporafoundation.org/?url=http%3a%2f%2ffossmeet.in%2f&title='+shareVar)
              i.fa.fa-asterisk
          a(class='social-link' href='https://www.facebook.com/sharer/sharer.php?u=http%3a%2f%2ffossmeet.in%2f')
              i.fa.fa-facebook
          a(class='social-link' href='https://twitter.com/intent/tweet?text='+shareVar)
              i.fa.fa-twitter
          a(class='social-link' href='https://plus.google.com/share?url=http%3a%2f%2ffossmeet.in%2f')
              i.fa.fa-google-plus-square
          a(class='social-link' href='whatsapp://send?text='+shareVar)
              i.fa.fa-whatsapp
