#helpMeModal.modal.fade(role='dialog')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title
                    // intentionally left blank
            .modal-body
                // intentionally left blank
            //
                <div class="modal-footer">
                &nbsp;<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
