script(type='text/javascript', src='js/config.js')
//- jQuery JavaScript
script(type='text/javascript', src='./js/vendor.js')
script(type="text/javascript" src="js/app.js")
//- PreRequisite Functions
script(type='text/javascript', src='js/functions.js')
