-
    var menu = [{
        href : '#home',
        name : 'Home'
    },{
        href : '#what',
        name : 'About the Event'
    },{
        href : '#speakers',
        name : 'Speakers'
    },{
        href : '#reg',
        name : 'Registration'
    },{
        href: '#sponsors',
        name: 'Sponsors'
    },{
        href: '#schedule',
        name: 'Schedule'
    },{
        href: '#coc',
        name: 'Code of Conduct'
    },{
        href: '#contact',
        name: 'Contact Us'
    }];

#wrapper(style="overflow:hidden" ng-controller="NavController")
    #sidebar-wrapper.sidebar(ng-class="{'open':isOpen}")
        ul.sidebar-nav
            li.active.sidebar-brand(style="position:relative")
                a(data-toggle='tab', href='#home' ng-click="toggle()")
                    span.pull-left FOSSMeet '17
                    img(src='img/logo.svg', width='20em', height='20em', style="text-align:right;")/
                i(class="navicon hide-md fa fa-close menutoggleicon" style="position:absolute;top:0px;right:12px" ng-click="toggle()" )
            li
            div(style='height:2em;border-style: none none solid none;border-color: #FFF;')
            each item in menu
                li
                    a(data-toggle='tab', href!=item.href ng-click="toggle()")=item.name

    #page-content-wrapper(style="overflow:hidden")

        .header.hide-md
            i(class="navicon fa fa-bars menutoggleicon" ng-click="toggle()" )
            h4(style="display:inline-block")
                a(href="./" style="color:white;text-decoration:none; font-size:1.5rem;padding-left:15px") FOSSMeet '17

        section(style="overflow:hidden")
            .tab-content(style="overflow-y:auto")
                #home.tab-pane.fade.in.active
                    include ./sections/home
                #what.tab-pane.fade
                    include ./sections/what
                #reg.tab-pane.fade
                    include ./sections/reg
                #speakers.tab-pane.fade
                    include ./sections/speaker
                #sponsors.tab-pane.fade
                    include ./sections/sponsors
                #schedule.tab-pane.fade(ng-controller="ScheduleController")
                    include ./sections/schedule
                #coc.tab-pane.fade
                    include ./sections/coc
                #contact.tab-pane.fade(ng-controller="ContactController")
                    include ./sections/contact
